
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-users-outline:before { content: '\e802'; } /* '' */
.icon-user-add-outline:before { content: '\e803'; } /* '' */
.icon-user-outline:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-folder-add:before { content: '\e806'; } /* '' */
.icon-archive:before { content: '\e807'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */