<br><br><br><br><br>
  <div class="container text-center">
    <h1 class="display-3 text-center">Contacto</h1>
    <p class="lead text-center">¿Tienes alguna duda sobre GVENT? ¿Quieres saber más acerca de sus funcionalidades? ¿Te interesa contratar el servicio?</p>
    <img src="../assets/ImgContact/contact.png" class="img-fluid" alt="contacto gvent">

<br>
</div>

<div class="jumbotron">
    <section class="text-center">
        <p class="emailgvent">Mándanos un email a <a class="emailgvent" href="mailto:X3GVENT@GMAIL.COM" target="_top">X3GVENT@GMAIL.COM</a></p>
        <p>Te atenderemos con la mayor brevedad posible.</p>



    </section>
      </div>
<br>
  <div class="container text-center">
<p class="lead chatbots">También puedes resolver tus dudas mediante el chat de asistencia al cliente.
    <br> Pulsa sobre el icono de la ventana de chat situado a la derecha.
</p>
<br><br>
    <section class="text-center">
        <h2>¿Quieres saber más?</h2>
      <a type="button" class="btn btn-primary btn-lg" href="https://gvent.ovh/wordpress/?page_id=10">Visita nuestro blog</a>

    </section>

</div>





<br><br><br>
<br><br><br><br>


<footer></footer>
