<div class="container-fluid divContenedorTabla">
  <div class="row">
    <div class="example-header">
      <h1 class="mat-display-1 tituloComponentes"><span class="icon-handshake-o"></span> Difusion</h1>
    </div>
  </div>
  <div class="row">
    <div  class="table-responsive">
      <div class="example-container mat-elevation-z8">


      <form (ngSubmit)="enviarPostWP(expediente)" #forma="ngForm">
        <fieldset class="form-group">
          <label for="tittle">Titulo</label>
          <input type="text" class="form-control" name="tittle" id="tittle" placeholder="" [(ngModel)]='expediente.titulo'>
        </fieldset>
        <fieldset class="form-group">
          <label for="content">Descripcion</label>
          <input type="textarea" class="form-control" name="content" id="content" placeholder="" [(ngModel)]='expediente.detalle'>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <!-- *ngIf="_authService.tienePermiso(26) && cartera.estado!=3" -->
      <!-- <div class="btnExpCar">
        <div class="btnsEditarAnyadir">
            <button (click)="abrirPubliFace()" type="button" color="primary" mat-raised-button><i class="fa fa-facebook-f"></i>&nbsp;Publicar en facebook</button>

            <button  type="button" mat-raised-button color="primary" (click)="disable_enable_campos()">Editar</button>
            <button  type="submit" color="primary" mat-raised-button [disabled]="formulario.form.invalid || realizandoAccion || (!formulario.form.dirty && !imgInsertada)">Guardar cambios</button>
            <button  type="button" mat-raised-button (click)="disable_enable_campos()" color="warn" [disabled]="realizandoAccion">Cancelar</button>
            <button  mat-raised-button type="button" color="warn" (click)="eliminarExpediente()"><i class="material-icons">delete</i></button>
            <button mat-raised-button type="button" name="button" class="btnVerCartera" (click)="verCartera()"><i class="icon-archive-1" matTooltip="Ir a la cartera a la que pertenece el expediente."></i> {{cartera.nombreCartera}}</button>
        </div>
      </div> -->



        <!-- <mat-table class="tablaComponente">

          <ng-container matColumnDef="nombreExpediente">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)">Nombre evento</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.titulo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="detalleExpediente">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)">Descripcion</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.detalle}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="imgExpediente">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(2)">Imagen </mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.codigoPostal}}</mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="['nombreExpediente','detalleExpediente','imgExpediente']"></mat-header-row>
          <mat-row class="elementoTabla" *matRowDef="let row; columns: ['nombreExpediente','detalleExpediente','imgExpediente']" (click)="editarAnyadirItem(row)"></mat-row>
        </mat-table>
        <button *ngIf="" mat-raised-button type="submit" class="botonMat"  color="warn" (click)="botonDifundir(selection.selected)">Difundir en WP</button> -->
      </div>
    </div>
  </div>
</div>
