<h1 class="mat-display-1 tituloComponentes"><span class="icon-town-hall"></span> Eliminar espacios</h1>
<h1 class="VentanaEmergenteEliminarPregunta" mat-dialog-title>¿Estás seguro de que deseas eliminar las siguientes filas?</h1>
<p class="VentanaEmergenteEliminarInfo">Una vez hecho no podrás recuperarlas.</p>
<mat-table class="tablaComponenteVEEliminar" #table [dataSource]="dataSource">
  <ng-container matColumnDef="identificador">
    <mat-header-cell *matHeaderCellDef >Id</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.identificador}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="nombreEspacio">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.nombreEspacio}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CP">
    <mat-header-cell *matHeaderCellDef>CP</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.CP}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="calle">
    <mat-header-cell *matHeaderCellDef>Calle</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.calle}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="numero">
    <mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.numero}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="telefono1">
    <mat-header-cell *matHeaderCellDef>Teléfono</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.telefono1}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="aforo">
    <mat-header-cell *matHeaderCellDef>Aforo</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.aforo}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['identificador','nombreEspacio','CP','calle','numero','telefono1','aforo']"></mat-header-row>
  <mat-row class="elementoTabla" *matRowDef="let row; columns: ['identificador','nombreEspacio','CP','calle','numero','telefono1','aforo']" ></mat-row>
</mat-table>
<mat-dialog-actions class="VentanaEmergenteEliminarBtns" *ngIf="!eliminando;">
    <button mat-raised-button (click)="eliminarItem()" color="warn">Eliminar</button>
    <a mat-raised-button (click)="cerrarDialogo()" color="primary">Cancelar</a>
</mat-dialog-actions>
<div class="VentanaEmergenteSpinner1">
  <div class="VentanaEmergenteSpinner2" *ngIf="eliminando">
      <mat-spinner color="warn"></mat-spinner>
  </div>
</div>
