<br><br><br><br><br>
  <div class="container ">
    <h1 class="display-3 text-center">Acerca de GVENT</h1>
    <p class="lead text-center">GVENT es una herramienta online de gestión y difusión de eventos.<br>
      Descubre qué puedes hacer con GVENT.</p>
<br>
    <section class="text-center">
        <h2>Crear eventos</h2>
      <img src="../assets/about/crear-eventos.png" class=" pull-xs-left" alt="...">

        <p>Organiza actividades y eventos de distintos tipos. <br>
          Es tan sencillo como escoger un título, fecha y lugar para poder comenzar. <br>
          Además, puedes crear carteleras de eventos para poder organizarte mejor.</p>

    </section>
<br>
    <section class="text-center">
        <h2>Publicar en redes sociales</h2>
      <img src="../assets/about/redes-sociales.png" class=" pull-xs-left" alt="...">

        <p>Realiza la difusión de los eventos de forma automática en plataformas como Facebook o Twitter.<br>
           Puedes publicar información acerca de los eventos con tan solo un click <br>
           o bien programar la publicación.</p>

    </section>
<br>
    <section class="text-center">
        <h2>Tener tu propia web personalizada</h2>
      <img src="../assets/about/web-personalizada.png" class=" pull-xs-left" alt="...">

        <p>Obtén tu propia web personalizada donde puedes publicar información acerca de los eventos.<br>
           De esta forma puedes llegar a un mayor número de usuarios y que puedan contactar contigo.</p>

    </section>
<br>
    <section class="text-center">
        <h2>Controlar gastos</h2>
      <img src="../assets/about/controlar-gastos.png" class=" pull-xs-left" alt="...">

        <p>Gestiona todas las contrataciones necesarias para cada evento y controla los gastos de forma eficiente.<br>
           Ahorra tiempo informatizando tus facturas. <br>
           De esta forma, puedes tener acceso a todos los gastos y contratos de un evento de forma directa.</p>

    </section>
<br>
    <section class="text-center">
        <h2>Asignar tareas</h2>
      <img src="../assets/about/asignar-tareas.png" class=" pull-xs-left" alt="...">

        <p>¿Se necesita llamar a alguien?¿Añadir un recordatorio? <br>
          Crea y asigna tareas relacionadas con los eventos. <br>
          Una lista de tareas ayuda a gestionar la organización de un evento visualizando los asuntos pendientes de resolver.</p>

    </section>
<br><br><br>
    <section class="text-center">
        <h2>¿Quieres saber más?</h2>
      <a type="button" class="btn btn-primary btn-lg" href="https://gvent.ovh/wordpress/?page_id=10">Visita nuestro blog</a>

    </section>



    </div>





<br><br><br><br>
<!-- Plans -->
<div class="jumbotron">


<section id="plans">
    <div class="container">
      <h2 class="text-center">Tarifas</h2> <br>
      <p class="text-center">GVENT se adapta a las necesidades de tu empresa, por eso ofrecemos distintas tarifas.</p>
        <div class="row">

            <!-- item -->
            <div class="col-md-4 text-center">

                <div class="panel panel-danger panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Prueba gratuita</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>Gratis / Un mes</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Manual de instrucciones</li>
                        <li class="list-group-item"><i class="fa fa-times"></i> Asistencia por email</li>
                        <li class="list-group-item"><i class="fa fa-times"></i> Web personalizada</li>
                        <li class="list-group-item"><i class="fa fa-times"></i> Mantenimiento web</li>

                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" href="#">Probar gratis</a>
                    </div>
                </div>
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Básica</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>20€ / Mes</strong></p>
                    </div>
                    <ul class="list-group text-center">
                      <li class="list-group-item"><i class="fa fa-check"></i> Manual de instrucciones</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Asistencia por email</li>
                      <li class="list-group-item"><i class="fa fa-times"></i> Web personalizada</li>
                      <li class="list-group-item"><i class="fa fa-times"></i> Mantenimiento web</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-warning" href="#">Contratar</a>
                    </div>
                </div>
            </div>
            <!-- /item -->

            <!-- item -->
            <div class="col-md-4 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Premium</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>40€ / Mes</strong></p>
                    </div>
                    <ul class="list-group text-center">
                      <li class="list-group-item"><i class="fa fa-check"></i> Manual de instrucciones</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Asistencia por email</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Web personalizada</li>
                      <li class="list-group-item"><i class="fa fa-check"></i> Mantenimiento web</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">Contratar</a>
                    </div>
                </div>
            </div>
            <!-- /item -->

        </div>
    </div>
</section>

</div>
<br><br><br><br>
<!-- /Plans -->
<footer></footer>
