<div style="padding:40px" class="container-fluid divContenedorTabla">
  <div class="row">
    <div class="table-responsive">
      <div class="example-container mat-elevation-z8">
        <div class="example-header"><br><br><br>
          <h1 class="mat-display-1 tituloComponentes"><i class="fa fa-share-square"></i> Publicar</h1>
              <form class="animated fadeIn fast"(ngSubmit)="subirPost()" #forma="ngForm">
                <label>Nombre del evento</label>
                <input [(ngModel)]="post.message" name="message" class="form-control" placeholder="Mensaje del post" required type="text">
                <div class="form-group">
                  <button type="submit" class="btn btn-outline-primary">Postear</button>
                </div>
              </form>

          <form id="formNuevaReceta" (ngSubmit)="subirPost(this)">
            <div>
              <h2>Publicar en facebook</h2>

              <!-- -caption:string=Link caption in post that appears below name. The caption must be an actual URLs
                and should accurately reflect the URL and associated advertiser or business someone visits when they click on it.
              -description:string=A description of a link in the post (appears beneath the caption).
              -full_picture:string=URL to a full-sized version of the Photo published in the Post or scraped from a link in the Post.
                If the photo's largest dimension exceeds 720 pixels, it will be resized, with the largest dimension set to 720.
              -is_published
              message -->


              <label for="message">Texto principal:</label> <br>
              <input type="text" name="message" id="message" placeholder="Mensaje del post" autofocus required> <br>


              <!-- <label for="elaboracion">Elaboracion</label> <br>
              <textarea name="elaboracion" id="elaboracion" cols="50" rows="7" placeholder="Escribe aqui la elaboracion" required></textarea> <br>
              <label for="tiempo">Tiempo de elaboracion </label>
              <input style="width:50px" type="number" name="tiempo" min="1" id="tiempo" required> (min)<br>
              <label for="dificultad">Dificultad</label> <br>
              <input style="width:auto" type="radio" name="dificultad" id="dificultad" value="0"> Baja <br>
              <input style="width:auto" type="radio" name="dificultad" id="dificultad" value="1"> Media<br>
              <input style="width:auto" type="radio" name="dificultad" id="dificultad" value="2"> Alta<br>
              <label for="comensales">Número de comensales </label>
              <input style="width:50px" type="number" name="comensales" min="1" id="comensales" required><br>

              <label for="nuevoIng">Nuevo ingrediente:</label> <br>
              <input type="text" name="nuevoIng" id="nuevoIng" placeholder="Nuevo ingrediente"> <br>
              <input type="button" onclick="anadirIngrediente(this)" value="Añadir" id="nuevoIngBoton"><br>
              <label>Ingredientes</label>
              <ul id="ingredientes" contentEditable="true">
              </ul>
              <label>Fotos</label><br>


              <div id="fotos">

              </div>
              <input type="button" onclick="anadirZonaFoto()" value="Añadir foto" id="nuevaImgBoton"><br> -->

              <input type="submit" value="Enviar Post" id="nuevoPostBoton">
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
