<br><br><br><br><br>
<div class="container">
	<!-- <div class="row">
  		<div class="col-sm-10"><h1>{{usuario.nombreUsuario}}</h1></div>
    	<div class="col-sm-2"><img title="profile image" class="img-circle img-responsive" srcset="../assets/fotoPerfil.jpg" ></div>
    </div> -->
    <div class="row">
  		<div class="col-4"><!--left col-->
				<mat-card>
					<mat-card-header>
				    <div mat-card-avatar class="example-header-image"
				    	style="background-image: url('../assets/fotoPerfil.jpg');  background-size: cover;">
				    </div>
				    <mat-card-title>{{usuario.nombreUsuario}}</mat-card-title>
				    <mat-card-subtitle>{{usuario.apodo}}</mat-card-subtitle>
						<!-- <button   mat-raised-button style="max-width:10px"
							class="botonMat "color="primary"	(click)="openDialogEditarPerfil()">	<span class="icon-pencil"></span>
						</button> -->
				  </mat-card-header>

					<button mat-mini-fab 	class="botonMat pull-right" (click)="openDialogEditarPerfil()" color="primary"><span class="icon-pencil"></span></button>
						<hr>
					<mat-list>
							<mat-list-item>
								<h4 mat-line>Usuario desde</h4>
	     					<p mat-line> {{fechaCreacion | date}}</p>
	 					 	</mat-list-item>
						 	<mat-list-item>
							 <h4 mat-line>Última conexión</h4>
	    				 <p mat-line> Hoy</p>
						 </mat-list-item>
						 <mat-list-item>
							<h4 mat-line>Correo</h4>
							<p mat-line> {{usuario.correo}}</p>
						</mat-list-item>
							<mat-list-item>
							 <h4 mat-line>Rol</h4>
							 <p  *ngIf="usuario.rol ==1"mat-line> Administrador</p>
							 <p  *ngIf="usuario.rol ==2"mat-line> Trabajador</p>
							 <p  *ngIf="usuario.rol ==4"mat-line> Otro</p>

						 </mat-list-item>
						 <!-- <mat-list-item class="padding-left:300px;">
							 <div class="text-right">
								 <button   mat-raised-button style="max-width:10px"
	 								class="botonMat pull-right"color="primary"	(click)="openDialogEditarPerfil()">	<span class="icon-pencil"></span>
	 							</button>
							 </div>

					 </mat-list-item> -->
					</mat-list>
					<!-- <mat-card-actions>
				    <button mat-button></button>
						<button   mat-raised-button style="max-width:10px"
							class="botonMat "color="primary"	(click)="openDialogEditarPerfil()">	<span class="icon-pencil"></span>
						</button>
				  </mat-card-actions> -->

				</mat-card><br><br>


<!--
          <ul class="list-group">
            <li class="list-group-item d9d9d9 bg-blue">Actividad &nbsp;<i class="fa fa-line-chart"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Eventos</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Actividades</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Social Posts</strong></span> 37</li>
          </ul> -->



        </div><!--/col-3-->




    	<div class="col-sm-8">
        <h4>Actividad reciente</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td> Hoy, 1:00 - Creaste el evento taltaltal.</td>
              </tr>
              <tr>
                <td> Hoy, 12:23 - posteaste en facebook la publicacion del evento tal.</td>
              </tr>
              <tr>
                <td> Hoy, 12:20 - Actualizaste la cartera del primer cuatrimeste de 2020.</td>
              </tr>
              <tr>
                <td> Ayer - Añadiste una actividad al evento de las flores.</td>
              </tr>

            </tbody>
          </table>
        </div>
        <h4>Tareas pendientes</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><i class="pull-right fa fa-edit"></i> Contratar servicio de musica para la actividad taltal.</td>
              </tr>
              <tr>
                <td><i class="pull-right fa fa-edit"></i> Crear publicacion instagram para el evento concierto de shakira.</td>
              </tr>
              <tr>
                <td><i class="pull-right fa fa-edit"></i> Llevar a aprobar la cartera del cuatrimestre 3 de 2019 </td>

              </tr>

            </tbody>
          </table>
        </div>


          </div>

        </div>
    </div>
