<br><br><br><br><br>
<div class="container">
    <div class="row">
  		<div class="col-4">
				<mat-card>
					<mat-card-header>
				    <div mat-card-avatar class="example-header-image"
				    	style="background-image: url('../assets/fotoPerfil.jpg');  background-size: cover;">
				    </div>
				    <mat-card-title>{{usuario.nombreUsuario}}</mat-card-title>
				    <mat-card-subtitle>{{usuario.apodo}}</mat-card-subtitle>
				  </mat-card-header>

					<button mat-mini-fab 	class="botonMat pull-right" (click)="openDialogEditarPerfil()" color="primary"><span class="icon-pencil"></span></button>
						<hr>
					<mat-list>
							<mat-list-item>
								<h4 mat-line>Usuario desde</h4>
	     					<p mat-line> {{fechaCreacion | date}}</p>
	 					 	</mat-list-item>
						 	<mat-list-item>
							 <h4 mat-line>Última conexión</h4>
	    				 <p mat-line> Hoy</p>
						 </mat-list-item>
						 <mat-list-item>
							<h4 mat-line>Correo</h4>
							<p mat-line> {{usuario.correo}}</p>
						</mat-list-item>
							<mat-list-item>
							 <h4 mat-line>Rol</h4>
							 <p  *ngIf="usuario.rol ==1"mat-line> Administrador</p>
							 <p  *ngIf="usuario.rol ==2"mat-line> Trabajador</p>
							 <p  *ngIf="usuario.rol ==4"mat-line> Otro</p>

						 </mat-list-item>
					</mat-list>
				</mat-card><br><br>


        </div>




    	<div class="col-sm-8">

        <h4>Tareas pendientes</h4>

        <mat-table style="margin-left:30px; margin-right:30px;" #table [dataSource]="dataSource" matSort>



           <ng-container matColumnDef="prueba">
             <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
             <mat-cell   *matCellDef="let tarea">

               <button *ngIf="tarea.finalizado ==0" (click)="CompletarTarea(tarea)"  class="botonMat" mat-icon-button color="primary">
                   <mat-icon color="primary" >done</mat-icon>
              </button>

              <button *ngIf="tarea.finalizado ==1" (click)="CompletarTarea(tarea)"  class="botonMat" mat-icon-button color="warn">
                  <mat-icon color="warn" >autorenew</mat-icon>
             </button>

            </mat-cell>
           </ng-container>

          <ng-container matColumnDef="nombreTarea">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tarea </mat-header-cell>
            <mat-cell   *matCellDef="let tarea"> {{tarea.nombreTarea}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="finalizado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> finalizada </mat-header-cell>
            <mat-cell *matCellDef="let tarea">
              <div *ngIf="tarea.finalizado ==1">Si </div>
              <div *ngIf="tarea.finalizado ==0">No
              </div>
            </mat-cell>

          </ng-container>



          <mat-header-row *matHeaderRowDef="['prueba', 'nombreTarea', 'finalizado']"></mat-header-row>
          <mat-row class="elementoTabla" *matRowDef="let row; columns: ['prueba',  'nombreTarea', 'finalizado']" ></mat-row>
        </mat-table>





        </div>
    </div>
