input{
  margin:-.3em auto 1.1em;
  width:90%;
}
#DivActividades, #DivContratos, #DivTareas{
  margin:1em auto;
}
.CuadroActividad, .CuadroContrato, .CuadroTarea{
    background-color: #e3e3e3;
    margin:1em;
    padding: .5em;
}
.inicio{
  background-color:white;
  color:grey;
}
.fondoComponentes{

}
.btnMargen{
  margin-top: 1em;
  margin-bottom: 2em;
}
