input{
  margin:-.3em auto 1.1em;
  width:90%;
}
#DivActividades, #DivContratos, #DivTareas{
  margin:2em auto;
}
.CuadroActividad, .CuadroContrato, .CuadroTarea{
    background-color: #D3D3D3;
    margin:1em;
    padding: .5em;
}
