<div class="container-fluid">
  <div class="row ">
        <h1 *ngIf="hasBuscado==false">&nbsp;<span class="icon-doc"></span> Expedientes&nbsp;&nbsp;&nbsp;&nbsp;</h1>

        <h1 style="width:100%" *ngIf="hasBuscado==true">&nbsp;<span class="icon-search"></span>Resultados de Busqueda&nbsp;&nbsp;&nbsp;&nbsp;</h1>
        <button
          class="btn btn-secondary  d9d9d9 my-2 my-sm-2 small-margin-laterals"
          type="submit"
          *ngIf="hasBuscado==false"
          [routerLink]="['/nuevo-expediente']"><span class="icon-folder-add"></span> Nuevo Expediente&nbsp;</button>&nbsp;
<div *ngIf="hasBuscado==false"><br><br></div>

      <form *ngIf="hasBuscado==false" class="form-inline" (ngSubmit)="cambiarNumExpedientesPorPagina()" #forma="ngForm">
        <div class="form-group">&nbsp;
          <label>Cantidad por página: &nbsp;</label>
          <select [(ngModel)]="expedientesPorPagina"
            name="expedientesPorPagina"
          class="form-control"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="this.expedientes.length">Todos</option>

          </select>&nbsp;&nbsp;
        </div>

        <div class="form-group">
          <label>Cantidad personalizada: &nbsp;</label>
          <input [(ngModel)]="this.expedientesPorPagina"
            name="expedientesPorPagina"
            class="form-control width-60"
            placeholder="numero Por Pagina"
            type="text">
        </div>&nbsp;
        <div class="form-group">
          <button
             type="submit" class="btn btn-outline-primary">
            Actualizar
          </button>
        </div>
      </form>&nbsp;

      <form *ngIf="hasBuscado==false" class="form-inline" (ngSubmit)="buscarExpediente(nombreBusqueda)" #forma="ngForm">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <div class="form-group">
          <input [(ngModel)]="this.nombreBusqueda"
            name="nombreBusqueda"
            class="form-control"
            placeholder="nombre expediente a buscar"
            type="text">
        </div>&nbsp;
        <div class="form-group">
          <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Buscar</button>
        </div>

      </form>&nbsp;

      <div *ngIf="hasBuscado==false"><br><br></div>





      <div *ngIf="hasBuscado==false" class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>

                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Evento</th>
                <th scope="col">Cartera</th>
                <th scope="col">Espacio</th>
                <th scope="col">Nombre Expediente</th>
                <th scope="col">Comienzo</th>
                <th scope="col">Final</th>
                <th scope="col">Hora</th>
                <th scope="col">Titulo</th>
                <th scope="col">Actor</th>
                <th scope="col">Precio</th>
                <th scope="col">Portal</th>
                <th scope="col">separacion</th>
                <th scope="col">Precio entrada</th>
                <th scope="col">Coordinador</th>
                <!-- <th scope="col">cif</th> -->
                <th scope="col">detalle</th>
                <th scope="col">Imagen</th>
                <th scope="col">avance</th>
                <th scope="col">fechaCreacion</th>
                <th class="text-right">Opciones</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
               <!-- el pipe keys es para pasar un objeto a un array -->
              <tr *ngFor="let expediente of  expedientesActuales  ; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ expediente.identificador }}</td>
                <td>{{ expediente.evento }}</td>
                <td>{{ expediente.cartera }}</td>
                <td>{{ expediente.espacio }}</td>
                <td>{{ expediente.nombreExpediente }}</td>
                <td>{{ expediente.fechaInicio }}</td>
                <td>{{ expediente.fechaFin }}</td>
                <td>{{ expediente.hora }}</td>
                <td>{{ expediente.titulo }}</td>
                <td>{{ expediente.actor }}</td>
                <td>{{ expediente.precio }}</td>
                <td>{{ expediente.portal }}</td>
                <td>{{ expediente.separacion }}</td>
                <td>{{ expediente.precioEntrada }}</td>
                <td>{{ expediente.coordinador }}</td>
                <!-- <td>{{ expediente.cif }}</td> -->
                <td>{{ expediente.detalle | slice:0:25}}</td>
                <td>{{ expediente.imagen }}</td>
                <td>{{ expediente.avance }}</td>
                <td>{{ expediente.fechaCreacion }}</td>

                <td class="text-center w20">
                  <button  [routerLink]="['/expediente', expediente.identificador]"
                  type="button" class="btn btn-outline-success">
                    <span class="icon-eye-outline"></span>
                  </button>

                </td>
                <td>
                  <button  (click)="borrarExpediente(expediente.identificador)"
                  type="button" class="btn btn-outline-danger">
                    <span class="icon-trash"></span>
                  </button>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
          <!-- si no hay expedientes muestra esto -->
          <div *ngIf="(expedientes).length === 0 && !loading"
          class="alert alert-info" role="alert">
              <strong>No hay </strong> expedientes que mostrar
          </div>

          <nav *ngIf="hasBuscado==false" style="text-align:center; width:100%" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li *ngIf="currentPage > 1 " class="page-item" >
                <a class="page-link" (click)="nuevaPagina(currentPage-1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let i of cantidadPagina" >
                <a  class="page-link" (click)="nuevaPagina(i+1)" >{{ i+1 }}</a>
              </li>

              <li *ngIf="currentPage!=totalPaginas" class="page-item" routerLinkActive="active">
                <a class="page-link" (click)="nuevaPagina(currentPage+1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>









<br>
 <!-- tabla de busqueda -->
 <div *ngIf="hasBuscado==true" style="width:100%">
     <form   class="form-inline" (ngSubmit)="buscarExpediente(nombreABuscar)" #forma="ngForm">
       <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          &nbsp;&nbsp;&nbsp;
           <div class="form-group">
             <input [(ngModel)]="this.nombreBusqueda"
             name="nombreBusqueda"
             class="form-control"
             placeholder="nombre expediente a buscar"
             type="text">
           </div>&nbsp;
           <div class="form-group">
             <button class="btn btn-outline-success"  type="submit">Buscar</button>
           </div>
             &nbsp;&nbsp;
           <button (click)="volverExpedientes()"
           type="button" class="btn btn-outline-danger">
             Volver
           </button>
           &nbsp;&nbsp;
           <h3>Número de resultados:{{resultados.length}}</h3>
     </form>&nbsp;

   </div>
         <div *ngIf="hasBuscado" class="table-responsive">
           <table class="table table-striped">
             <thead class="thead-dark">
               <tr>
                 <th scope="col">#</th>
                 <th scope="col">Id</th>
                 <th scope="col">Nombre</th>
                 <th scope="col">Usuario</th>
                 <th scope="col">Fecha Creación</th>
                 <th scope="col">Fecha Actualizacion</th>
                 <th class="text-right">Opciones</th>
               </tr>
             </thead>
             <tbody>
                <!-- el pipe keys es para pasar un objeto a un array -->

               <tr *ngFor="let resul of  resultados; let i = index">
                 <td>{{ i + 1 }}</td>
                 <td>{{ resul.identificador }}</td>
                 <td>{{ resul.nombreExpediente }}</td>
                 <td>{{ resul.usuario }}</td>
                 <td>{{ resul.fechaCreacion }}</td>
                 <td>{{ resul.fechaActualizacion }}</td>
                 <td class="text-center w20">
                   <button  [routerLink]="['/expediente', resul.identificador]"
                   type="button" class="btn btn-outline-success">
                     <span class="icon-eye-outline"></span>
                   </button>
                   <button  (click)="borrarExpediente(expediente.identificador)"
                   type="button" class="btn btn-outline-danger">
                     <span class="icon-trash"></span>
                   </button>
                 </td>
               </tr>

             </tbody>

           </table>
        </div>
           <!-- si no hay expedientes muestra esto -->
           <div style="width: 100%; text-align:center" >
             <div *ngIf="(resultados).length === 0 && !loading && hasBuscado==true"
             class="alert alert-danger" style="width: 100%; text-align:center" role="alert">
                 <strong>No se han </strong> encontrado resultados
             </div>
           </div>
           <div *ngIf="hasBuscado==true"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
            <!-- paginacion resultados busqueda no implementada aun -->
           <!-- <nav  aria-label="Page navigation example">
             <ul class="pagination justify-content-center">
               <li *ngIf="currentPage > 1 " class="page-item" >
                 <a class="page-link" (click)="nuevaPagina(currentPage-1)" aria-label="Previous">
                   <span aria-hidden="true">&laquo;</span>
                   <span class="sr-only">Previous</span>
                 </a>
               </li>
               <li class="page-item" *ngFor="let i of cantidadPagina" >
                 <a  class="page-link" (click)="nuevaPagina(i+1)" >{{ i+1 }}</a>
               </li>

               <li *ngIf="currentPage!=totalPaginas" class="page-item" routerLinkActive="active">
                 <a class="page-link" (click)="nuevaPagina(currentPage+1)" aria-label="Next">
                   <span aria-hidden="true">&raquo;</span>
                   <span class="sr-only">Next</span>
                 </a>
               </li>
             </ul>
           </nav> -->








        <br>

    </div>

</div>
<!-- aqui acaba el container fluid -->
