<div class="container-fluid divContenedorTabla">
  <div class="row">
    <div class="example-header cabeceraMargin">
      <div class="elementosCabecera">
        <button *ngIf="_authService.tienePermiso(25)" mat-raised-button class="botonMat botonNuevoItem" type="submit" color="primary"
          (click)="nuevoEvento()">Nuevo Evento</button>
        <button *ngIf="_authService.tienePermiso(28) && estadoCarteraEscogido==208" mat-raised-button type="button" class="botonEliminarItems" [disabled]="btnEliminar" color="warn" (click)="botonEliminarItem(selection.selected)"><i class="material-icons">delete</i></button>

        <div class="divPaginacion">
          <div class="divTiposCartera elementosPaginacion">
            <mat-radio-group [(ngModel)]="estadoCarteraEscogido" (change)="cambiarListaEstado()">
              <mat-radio-button value="208" matTooltip="Carteras sin aprobar: Pueden ser eliminadas. Se les pueden añadir o eliminar expedientes. Sus expedientes muestran solo los campos básicos."
                                ><i class="material-icons">lock_open</i></mat-radio-button>
              <mat-radio-button value="209" matTooltip="Carteras aprobadas: Pueden ser modificadas pero no eliminadas. No se les pueden añadir o eliminar expedientes. Sus expedientes muestran todos sus campos."
                                ><i class="material-icons">lock_outline</i></mat-radio-button>
              <mat-radio-button value="210" matTooltip="Carteras terminadas: No pueden ser eliminadas ni modificadas. No se les pueden añadir o eliminar expedientes y estos no pueden ser modificados."
                                ><i class="material-icons">lock</i></mat-radio-button>
              <mat-radio-button value="0">Todas</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="elementosPaginacion">
            <input matInput (keyup)="realizarBusqueda($event)" placeholder="Búsqueda" [(ngModel)]="value" disabled>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)='value=""'>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div class="elementosPaginacion">
            <mat-form-field class="selectNumPgns">
              <mat-select [(value)]="option_Items_Pgn" placeholder="Elementos por página" (change)="actualizarPaginacion()">
                <mat-option value="5">5</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="15">15</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="30">30</mat-option>
                <mat-option value="40">40</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="75">75</mat-option>
                <mat-option value="100">100</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="elementosPaginacion">
            <p>Pág. {{paginacion.current_page}} de {{paginacion.total_pages}}</p>
          </div>
          <div class="elementosPaginacion btnsPaginacion" #btnsPag>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(1)"><i class="material-icons">first_page</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(2)"><i class="material-icons">navigate_before</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(3)"><i class="material-icons">navigate_next</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(4)"><i class="material-icons">last_page</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <div class="example-container mat-elevation-z8">
        <mat-table class="tablaComponente" #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="identificador">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)"></mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.identificador}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nombreExpediente">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)">Nombre</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.nombreExpediente}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="titulo">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(3)">Título</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.titulo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="coordinador">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(4)">Coordinador</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.coordinador}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="cartera">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(4)">Cartera</mat-header-cell>
            <mat-cell *matCellDef="let items; let i = index" #carteraRow>{{selectCartera[i]}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fechaInicio">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(5)">Fecha inicio</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.fechaInicio}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fechaFin">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(6)">Fecha fin</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.fechaFin}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="avance">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(6)">Avance</mat-header-cell>
            <mat-cell *matCellDef="let items; let i = index"  [matTooltipClass]="'tooltipSalto'" matTooltip='Tareas terminadas: {{avances[i].tareasTerminadas}} de {{avances[i].tareasPropuestas}}&#13;Contratos terminados: {{avances[i].contratosTerminados}} de {{avances[i].contratosPropuestos}}'>
              <div class="spinnerAvanceFondo">
                <mat-progress-spinner  [value]="100" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
              </div>
              <div class="spinnerAvance">
                <mat-progress-spinner [value]="avances[i].porcentajeAvanzado" [diameter]="30" [strokeWidth]="6" [color]="avances[i].colorSpinner"></mat-progress-spinner>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['select','identificador','nombreExpediente','titulo','coordinador','cartera','fechaInicio','fechaFin','avance']"></mat-header-row>
          <mat-row class="elementoTabla" *matRowDef="let row; columns: ['select','identificador','nombreExpediente','titulo','coordinador','cartera','fechaInicio','fechaFin','avance']" (click)="abrirExpediente(row)"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
