<div class="container-fluid">
  <div class="row ">
      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1><span class="icon-crown"></span>Expediente <small>{{expediente.nombreExpediente}}</small></h1>
        <div class="container" *ngIf="errorActualizarItem === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
                <h1 class="text-center">¡Ups! <p> </p>
                  <p><small class="text-center"> Ha habido un error actualizando el permiso.</small></p></h1>
                  <p class="text-center text-danger" *ngFor="let mensaje of errorMensaje">
                        {{mensaje}}
                </p>
            </div>
        </div>
        <div class="container" *ngIf="itemActualizado === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-smile-o" style="color:#28a745;"></i></div>
                <h1 class="text-center">Expediente actualizado!</h1>
            </div>
        </div>
        <br>
        <form (ngSubmit)="guardarCambiosExp()" #forma="ngForm">
          <div class="row">
            <div class="col-sm-3">
              <label>Nombre expediente</label>
              <input [(ngModel)]="expediente.nombreExpediente" name="nombreExp" class="form-control" placeholder="Nombre del expediente" required type="text">
            </div>
            <div class="col-sm-3">
              <label>Título</label>
              <input [(ngModel)]="expediente.titulo" name="nombreTit" class="form-control" placeholder="Título del evento" required type="text">
            </div>
            <div class="col-sm-3">
              <label>Fecha inicio</label>
              <input [(ngModel)]="expediente.fechaInicio" name="fechaInicio" class="form-control" required type="date">
            </div>
            <div class="col-sm-3">
              <label>Fecha fin</label>
              <input [(ngModel)]="expediente.fechaFin" name="fechaFin" class="form-control" required type="date">
            </div>
            <div class="col-sm-3">
              <label>Coordinador</label>
              <input [(ngModel)]="expediente.coordinador" name="coordinador" class="form-control" placeholder="Persona responsable" required type="text">
            </div>
            <div class="col-sm-3">
              <label>Detalles</label>
              <input [(ngModel)]="expediente.detalle" name="detalle" class="form-control" required type="text">
            </div>
            <div class="col-sm-9">
              <label for="imagenForm">Imagen evento</label>
              <img src="{{expediente.image}}" alt="Imagen del evento" width="200px" id="etiquetaImgExp">
              <input type="file" id="imagenForm" (change)="cargarImg($event.target.files)" accept="image/*">
            </div>
          </div>
          <input name="_method" type="hidden" value="PUT">
          <div class="form-group">
            <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
              Guardar cambios
            </button>
          </div>
        </form>
        <br>
        <!-- ***************** EMPIEZAN ACTIVIDADES ***************** -->
        <div id="DivActividades">
          <h3>ACTIVIDADES</h3>
          <div>
            <div *ngFor="let a of actividades; let i = index">
              <form (ngSubmit)="crearModificarActConTar(1,a,i)" #forma="ngForm">
                <div class="row CuadroActividad">
                  <div class="col-sm-3">
                    <label>Nombre de la actividad</label>
                    <input [(ngModel)]="a.nombreActividad" name=Actividad_nombre{{i}} class="form-control" required type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Fecha inicio</label>
                    <input [(ngModel)]="a.fechaInicio" name=Actividad_fechaInicio{{i}} class="form-control" type="date">
                  </div>
                  <div class="col-sm-3">
                    <label>Fecha final</label>
                    <input [(ngModel)]="a.fechaFinal" name=Actividad_fechaFinal{{i}} class="form-control" type="date">
                  </div>
                  <div class="col-sm-3">
                    <label>Hora inicio</label>
                    <input [(ngModel)]="a.HoraInicio" name=Actividad_HoraInicio{{i}} class="form-control" type="time">
                  </div>
                  <div class="col-sm-3">
                    <label>Hora final</label>
                    <input [(ngModel)]="a.HoraFinal" name=Actividad_HoraFinal{{i}} class="form-control" type="time">
                  </div>
                  <div class="col-sm-3">
                    <label>Espacio</label>
                    <select class="form-control" name=Actividad_espacio{{i}} [(ngModel)]="a.espacio">
                      <option [ngValue]="e.identificador" *ngFor="let e of espacio">{{e.nombreEspacio}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label>Capacidad máxima</label>
                    <input [(ngModel)]="a.capacidadMinimo" name=Actividad_capacidad_min{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Capacidad mínima</label>
                    <input [(ngModel)]="a.capacidadMaximo" name=Actividad_capacidad_max{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Detalle de Entrada</label>
                    <input [(ngModel)]="a.detalleEntrada" name=Actividad_detalle_entrada{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Precio de Entrada</label>
                    <input [(ngModel)]="a.precioEntrada" name=Actividad_precio_entrada{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3" *ngIf="a.identificador !== null">
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                      Guardar cambios
                    </button>
                  </div>
                  <div class="col-sm-3" *ngIf="a.identificador === null">
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                      Añadir actividad
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button (click)="eliminarItem(1, a.identificador, i)" type="button" class="btn btn-outline-danger">
                      <span class="icon-trash"></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <button type="button" class="btn btn-outline-success" (click)="crearPlantillaAct()">
            <span class=""></span>Nueva actividad
          </button>
        </div>
        <!-- ***************** EMPIEZAN CONTRATOS ***************** -->
        <div id="DivContratos">
          <h3>CONTRATOS</h3>
          <div>
            <div *ngFor="let a of contratos; let i = index">
              <form (ngSubmit)="crearModificarActConTar(3,a,i)" #forma="ngForm">
                <div class="row CuadroContrato">
                  <div class="col-sm-3">
                    <label>Nombre del contrato</label>
                    <input [(ngModel)]="a.nombreContrato" name=Contrato_nombre{{i}} class="form-control" required type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Proveedor</label>
                    <select class="form-control" name=Contrato_proveedor{{i}} [(ngModel)]="a.proveedor">
                      <option [ngValue]="p.identificador" *ngFor="let p of proveedor">{{p.nombreProveedor}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label>Usuario responsable</label>
                    <select class="form-control" name=Contrato_usuario{{i}} [(ngModel)]="a.usuario">
                      <option [ngValue]="u.identificador" *ngFor="let u of users">{{u.nombreUsuario}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label>Precio</label>
                    <input [(ngModel)]="a.precio" name=Contrato_precio{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Tiempo</label>
                    <input [(ngModel)]="a.tiempo" name=Contrato_tiempo{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Clase</label>
                    <input [(ngModel)]="a.clase" name=Contrato_clase{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Archivo</label>
                    <input [(ngModel)]="a.archivo" name=Contrato_archivo{{i}} class="form-control" type="text">
                  </div>
                  <div class="col-sm-3" *ngIf="a.identificador !== null">
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                      Guardar cambios
                    </button>
                  </div>
                  <div class="col-sm-3" *ngIf="a.identificador === null">
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                      Añadir contrato
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button (click)="eliminarItem(3, a.identificador, i)" type="button" class="btn btn-outline-danger">
                      <span class="icon-trash"></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <button type="button" class="btn btn-outline-success" (click)="crearPlantillaCon()">
            <span class=""></span>Nuevo contrato
          </button>
        </div>
        <!-- ***************** EMPIEZAN TAREAS ***************** -->
        <div id="DivTareas">
          <h3>TAREAS</h3>
          <div>
            <div *ngFor="let a of tareas; let i = index">
              <form (ngSubmit)="crearModificarActConTar(2,a,i)" #forma="ngForm">
                <div class="row CuadroTarea">
                  <div class="col-sm-3">
                    <label>Nombre de la tarea</label>
                    <input [(ngModel)]="a.nombreTarea" name=Tarea_nombre{{i}} class="form-control" required type="text">
                  </div>
                  <div class="col-sm-3">
                    <label>Usuario responsable</label>
                    <select class="form-control" name=Tarea_usuario{{i}} [(ngModel)]="a.usuario">
                      <option [ngValue]="u.identificador" *ngFor="let u of users">{{u.nombreUsuario}}</option>
                    </select>
                  </div>
                  <!-- <div class="col-sm-3">
                    <label>Finalizada</label>
                    <input [(ngModel)]="a.finalizado" name=Tarea_finalizado{{i}} class="form-control" type="text">
                  </div> -->
                  <div class="col-sm-3">
                    <label>Finalizada
                      <input [(ngModel)]="a.finalizado" name=Tarea_finalizado{{i}} class="form-control" type="checkbox">
                    </label>
                  </div>
                  <div class="col-sm-3" *ngIf="a.identificador !== null">
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                      Guardar cambios
                    </button>
                  </div>
                  <div class="col-sm-3" *ngIf="a.identificador === null">
                    <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                      Añadir tarea
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button (click)="eliminarItem(2, a.identificador,i)" type="button" class="btn btn-outline-danger">
                      <span class="icon-trash"></span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <button type="button" class="btn btn-outline-success" (click)="crearPlantillaTar()">
            <span class=""></span>Nueva tarea
          </button>
        </div>
      </main>
    </div>
</div>
