<div class="container-fluid divContenedorTabla">
  <form (ngSubmit)="editarExp()" #formulario="ngForm">
    <div class="row">
      <div class="example-header cabeceraExpCar">
        <h1 class="mat-display-1 tituloComponentes titCarteras"><i class="icon-folder-open"></i> Expediente: {{expediente.nombreExpediente}}</h1>
        <div *ngIf="cartera.estado>1" class="tituloComponentes titCarteras porcentajeAvance" [matTooltipClass]="'tooltipSalto'" matTooltip='Tareas terminadas: {{tareasTerminadas.getValue()}} de {{tareasPropuestas.getValue()}}&#13;Contratos terminados: {{contratosTerminados.getValue()}} de {{contratosPropuestos.getValue()}}'>
          <div class="spinnerAvanceFondo">
            <mat-progress-spinner  [value]="100" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
          </div>
          <div class="spinnerAvance">
            <mat-progress-spinner class="" [value]="porcentajeAvanzado.getValue()" [diameter]="30" [strokeWidth]="6" [color]="colorSpinner.getValue()"></mat-progress-spinner>
          </div>
        </div>
        <div class="btnExpCar" *ngIf="_authService.tienePermiso(26) && cartera.estado!=3">
          <div class="btnsEditarAnyadir">
            <button *ngIf="bloqCampos" type="button" mat-raised-button color="primary" (click)="disable_enable_campos()">Editar</button>
            <button *ngIf="!bloqCampos" type="submit" color="primary" mat-raised-button [disabled]="formulario.form.invalid || realizandoAccion || (!formulario.form.dirty && !imgInsertada)">Guardar cambios</button>
            <button *ngIf="!bloqCampos" type="button" mat-raised-button (click)="disable_enable_campos()" color="warn" [disabled]="realizandoAccion">Cancelar</button>
            <button *ngIf="cartera.estado==1 && bloqCampos" mat-raised-button type="button" color="warn" (click)="eliminarExpediente()"><i class="material-icons">delete</i></button>
            <button mat-raised-button type="button" name="button" class="btnVerCartera" (click)="verCartera()"><i class="icon-archive-1" matTooltip="Ir a la cartera a la que pertenece el expediente."></i> {{cartera.nombreCartera}}</button>
          </div>
        </div>
        <div class="divTiposCartera" *ngIf="!_authService.tienePermiso(26) && cartera.estado==3">
          <div class="btnsEditarAnyadir">
            <button mat-raised-button type="button" name="button" class="btnVerCartera" (click)="verCartera()" matTooltip="Ir a la cartera a la que pertenece el expediente."><i class="icon-archive-1"></i> {{cartera.nombreCartera}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="example-header">
        <div class="elementosCabecera">

          <div class="row carteraFormExpediente">

            <div class="col">
              <div class="row">
                <mat-form-field class="carteraNombre marginRight">
                  <input matInput name="nombreExpediente" [(ngModel)]="expediente.nombreExpediente" placeholder="Nombre"  [readonly]="bloqCampos"
                         maxLength="200" required>
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="expFecha marginRight">
                  <input matInput type="date" name="fechaCreacion" [value]="expFechaCreacion" placeholder="Fecha creación" readonly>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="expTitulo marginRight">
                  <input matInput name="titulo" [(ngModel)]="expediente.titulo" placeholder="Título"  [readonly]="bloqCampos"
                         maxLength="100" required>
                  <mat-error>Campo requerido</mat-error>
                 </mat-form-field>

                 <mat-form-field class="carteraNombre marginRight">
                   <mat-select placeholder="Coordinador" [(ngModel)]="expediente.coordinador" name="coordinador"  [disabled]="bloqCampos">
                     <mat-option *ngFor="let u of users" [value]="u.identificador.toString()">{{ u.nombreUsuario }}</mat-option>
                   </mat-select>
                 </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="expFecha marginRight">
                  <input matInput type="date" name="fechaInicio" [(ngModel)]="expediente.fechaInicio" placeholder="Fecha inicio" required  [readonly]="bloqCampos">
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>

                <mat-form-field class="expFecha marginRight">
                  <input matInput type="date" name="fechaFin" [(ngModel)]="expediente.fechaFin" placeholder="Fecha fin" required  [readonly]="bloqCampos">
                  <mat-error>Campo requerido</mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="campoWidth100 marginRight">
                  <textarea matInput name="detalle" [(ngModel)]="expediente.detalle" placeholder="Detalles"  [readonly]="bloqCampos"
                            maxLength="500"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-auto">
              <mat-card class="plantillaImg">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src=""  alt="Imagen del evento"  #etiquetaImgExp>
                <mat-card-actions>
                  <input #imgInput type="file" (change)="cargarImg($event.target.files)" accept="image/*" class="invisible">
                  <button (click)="imgInput.click()" type="button" color="primary" mat-raised-button [disabled]="bloqCampos || realizandoAccion">Subir imagen</button>
                  </mat-card-actions>
              </mat-card>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row" *ngIf="cartera.estado>1">
    <div class="tabExpediente">
      <mat-tab-group #tabGroup>
        <!--*****************ACTIVIDADES*****************-->
        <mat-tab label="Actividades">

          <mat-accordion>
              <mat-expansion-panel *ngFor="let a of actividades; let i = index" class="alinearCabeceraPanel" >
                <mat-expansion-panel-header>
                  <mat-panel-title><p class="expMatPanelTitle">{{a.nombreActividad}}</p></mat-panel-title>
                  <mat-panel-description><p class="expMatPanelDescription">{{a.observaciones}}</p></mat-panel-description>
                </mat-expansion-panel-header>
                <div class="panelExp">

                  <form (ngSubmit)="crearModificarActConTar(1,a,i)" #forma="ngForm">
                    <div class="space-between">
                      <mat-form-field class="expActCampos1">
                        <input placeholder="Nombre" matInput [(ngModel)]="a.nombreActividad" name=Actividad_nombre{{i}} required type="text"
                        maxlength="300">
                        <mat-error>Campo requerido</mat-error>
                      </mat-form-field>

                      <mat-form-field class="expActCampos1">
                        <mat-select placeholder="Espacio" [(ngModel)]="a.espacio" name=Actividad_espacio{{i}} required>
                          <mat-option *ngFor="let e of espacio" [value]="e.identificador">{{ e.nombreEspacio }}</mat-option>
                        </mat-select>
                        <mat-error>Campo requerido</mat-error>
                      </mat-form-field>

                      <mat-form-field class="expActCampos1">
                        <input placeholder="Precio entrada" matInput [(ngModel)]="a.entrada" name=Actividad_entrada{{i}} type="text"
                        maxlength="200">
                      </mat-form-field>
                    </div>

                    <div class="space-between">
                      <mat-form-field class="expActCampos2">
                        <input placeholder="Capacidad máxima" matInput [(ngModel)]="a.capacidadMaximo" name=Actividad_capMax{{i}} type="text">
                      </mat-form-field>

                      <mat-form-field class="expActCampos2">
                        <input placeholder="Capacidad mínima" matInput [(ngModel)]="a.capacidadMinimo" name=Actividad_capMin{{i}} type="text">
                      </mat-form-field>

                      <mat-form-field class="expActCampos2">
                        <input matInput type="date" name=Actividad_fechaInicio{{i}} [(ngModel)]="a.fechaInicio" placeholder="Fecha inicio" >
                      </mat-form-field>

                      <mat-form-field class="expActCampos2">
                        <input matInput type="date" name=Actividad_fechaFinal{{i}} [(ngModel)]="a.fechaFinal" placeholder="Fecha final">
                      </mat-form-field>

                      <mat-form-field class="expActCampos2">
                        <input matInput type="time" name=Actividad_horaFinal{{i}} [(ngModel)]="a.HoraFinal" placeholder="Hora final">
                      </mat-form-field>

                      <mat-form-field class="expActCampos2">
                        <input matInput type="time" name=Actividad_horaFinal{{i}} [(ngModel)]="a.HoraFinal" placeholder="Hora final">
                      </mat-form-field>
                    </div>

                    <div>
                      <mat-form-field hintLabel="" class="campoWidth100">
                        <textarea matInput name=Actividad_observaciones{{i}} [(ngModel)]="a.observaciones" placeholder="Observaciones"
                                  maxLength="500" type="text"></textarea>
                      </mat-form-field>
                    </div>

                    <div class="btnsEditarAnyadir">
                      <button *ngIf="a.identificador" [disabled]="!forma.valid || realizandoAccion || !forma.dirty" type="submit" color="primary" mat-raised-button> Guardar cambios </button>
                      <button *ngIf="!a.identificador" [disabled]="!forma.valid || realizandoAccion" color="primary" mat-raised-button> Añadir actividad </button>
                      <button (click)="eliminarItem(1, a.identificador, i)" [disabled]="realizandoAccion" type="button" color="warn" mat-raised-button><i class="icon-trash"></i></button>
                    </div>
                  </form>

                </div>
              </mat-expansion-panel>
          </mat-accordion>
          <button mat-raised-button color="primary" type="button" class="btnsExpedienteNewElement" (click)="crearPlantillaAct()" [disabled]="realizandoAccion"> Nueva actividad </button>

        </mat-tab>

        <!--*********************CONTRATOS*******************-->
        <mat-tab label="Contratos">

          <mat-accordion>
            <mat-expansion-panel *ngFor="let c of contratos; let o = index" class="alinearCabeceraPanel">
              <mat-expansion-panel-header>
                <mat-panel-title><p class="expMatPanelTitle">{{c.nombreContrato}}</p></mat-panel-title>
                <mat-panel-description><mat-checkbox [(ngModel)]="c.terminado" name=Contrato_terminado{{o}} disabled>Finalizado</mat-checkbox></mat-panel-description>
              </mat-expansion-panel-header>
              <div class="panelExp">

                <form (ngSubmit)="crearModificarActConTar(3,c,o)" #forma="ngForm">
                  <div class="space-between">

                    <mat-form-field class="expActCampos1">
                      <input placeholder="Nombre" matInput [(ngModel)]="c.nombreContrato" name=Contrato_nombre{{o}} required type="text"
                      maxlength="200">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="expActCampos3">
                      <mat-select placeholder="Proveedor" [(ngModel)]="c.proveedor" name=Contrato_proveedor{{o}} required>
                        <mat-option *ngFor="let p of proveedor" [value]="p.identificador">{{ p.nombreProveedor }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="expActCampos2">
                      <input placeholder="Coste (€)" matInput [(ngModel)]="c.precio" name=Contrato_precio{{o}} type="number" required>
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="expActCampos1">
                      <input placeholder="Clase" matInput [(ngModel)]="c.clase" name=Contrato_clase{{o}} type="text" required
                      maxlength="100">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="expActCampos2">
                      <input placeholder="Días de duración" matInput [(ngModel)]="c.duracion" name=Contrato_duracion{{o}} type="number"
                      maxlength="11">
                    </mat-form-field>

                    <mat-form-field class="expActCampos3">
                      <mat-select placeholder="Responsable" [(ngModel)]="c.usuario" name=Contrato_usuario{{o}} name= required>
                        <mat-option *ngFor="let u of users" [value]="u.identificador">{{ u.nombreUsuario }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="expActCampos1">
                      <input placeholder="Código" matInput [(ngModel)]="c.codigo" name=Contrato_codigo{{o}} type="text"
                      maxlength="200">
                    </mat-form-field>

                    <div class="expActCampos2">
                      <input #pdfInput type="file" (change)="cargarPDF($event.target.files,o)" accept="application/pdf" class="invisible">
                      <button (click)="pdfInput.click()" type="button" color="primary" mat-raised-button [disabled]="realizandoAccion">Subir PDF</button>
                      <div *ngIf="archivoPDF[i]" class="nombreConPDF">{{nombrePDF.getValue()[o]}}</div>
                    </div>

                    <button (click)="verFicheroContrato(c.fichero)" type="button" color="primary" mat-raised-button [disabled]="!c.fichero">Ver contrato</button>

                    <mat-checkbox [(ngModel)]="c.terminado" name=Contrato_terminado{{o}}>Finalizado</mat-checkbox>

                  </div>
                  <div>
                    <mat-form-field hintLabel="" class="campoWidth100">
                      <textarea matInput name=Contrato_observaciones{{o}} [(ngModel)]="c.observaciones" placeholder="Observaciones"
                                maxLength="500" type="text"></textarea>
                    </mat-form-field>
                  </div>

                  <div class="btnsEditarAnyadir">
                    <button *ngIf="c.identificador" [disabled]="!forma.valid || realizandoAccion || (!forma.dirty && !archivoPDF[o])" type="submit" color="primary" mat-raised-button> Guardar cambios </button>
                    <button *ngIf="!c.identificador" [disabled]="!forma.valid || realizandoAccion" type="submit" color="primary" mat-raised-button> Añadir actividad </button>
                    <button (click)="eliminarItem(3, c.identificador, o)" [disabled]="realizandoAccion" type="button" color="warn" mat-raised-button><i class="icon-trash"></i></button>
                  </div>
                </form>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <button mat-raised-button type="button" class="btnsExpedienteNewElement" (click)="crearPlantillaCon()" [disabled]="realizandoAccion" color="primary"> Nuevo contrato </button>

        </mat-tab>

        <!--*****************TAREAS*****************-->
        <mat-tab label="Tareas">

          <mat-accordion>
            <mat-expansion-panel *ngFor="let t of tareas; let d = index" class="alinearCabeceraPanel">
              <mat-expansion-panel-header>
                <mat-panel-title><p class="expMatPanelTitle">{{t.nombreTarea}}</p></mat-panel-title>
                <mat-panel-description><mat-checkbox [(ngModel)]="t.finalizado" name=Tarea_finalizado{{d}} disabled>Finalizada</mat-checkbox></mat-panel-description>
              </mat-expansion-panel-header>
              <div class="panelExp">

                <form (ngSubmit)="crearModificarActConTar(2,t,d)" #forma="ngForm">
                  <div class="space-between">
                    <mat-form-field class="expActCampos1">
                      <input placeholder="Nombre" matInput [(ngModel)]="t.nombreTarea" name=Tarea_nombre{{d}} required type="text" [readonly]="t.finalizado==1"
                      maxlength="300">
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="expActCampos3">
                      <mat-select placeholder="Responsable" [(ngModel)]="t.usuario" name=Tarea_usuario{{d}} required [disabled]="t.finalizado==1">
                        <mat-option *ngFor="let u of users" [value]="u.identificador">{{ u.nombreUsuario }}</mat-option>
                      </mat-select>
                      <mat-error>Campo requerido</mat-error>
                    </mat-form-field>

                    <mat-form-field class="expActCampos2">
                      <input matInput type="text" name=Tarea_fechaCreacion{{d}} [(ngModel)]="t.fechaCreacion" placeholder="Fecha creación" readonly>
                    </mat-form-field>

                    <mat-form-field class="expActCampos2">
                      <input matInput type="text" name=Tarea_fechaFinalizacion{{d}} [(ngModel)]="t.fecha_finalizacion" placeholder="Fecha finalización" readonly>
                    </mat-form-field>

                    <mat-checkbox [(ngModel)]="t.finalizado" name=Tarea_finalizado{{d}} [disabled]="tareaBloqueada[d]">Finalizada</mat-checkbox>
                  </div>

                  <div class="btnsEditarAnyadir">
                    <button *ngIf="t.identificador" [disabled]="!forma.valid || realizandoAccion || !forma.dirty || tareaBloqueada[d]" type="submit" color="primary" mat-raised-button> Guardar cambios </button>
                    <button *ngIf="!t.identificador" [disabled]="!forma.valid || realizandoAccion" type="submit" color="primary" mat-raised-button> Añadir tarea </button>
                    <button (click)="eliminarItem(2, t.identificador, d)" [disabled]="realizandoAccion" type="button" color="warn" mat-raised-button><i class="icon-trash"></i></button>
                  </div>
                </form>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <button mat-raised-button color="primary" type="button" class="btnsExpedienteNewElement" (click)="crearPlantillaTar()" [disabled]="realizandoAccion"> Nueva tarea </button>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
