<div class="contenedorEditar">
  <h1 class="mat-display-1 tituloFormEstrecho"><span class="icon-folder"></span> {{titulo}}: {{items.nombreExpediente}}</h1>
  <a class="btnCerrar" (click)="cerrarDialogo()"><i class="material-icons iconoCerrar">close</i></a>
  <form (ngSubmit)="anyadirItem()" #formulario="ngForm">

    <div class="row contenedorFormEstrecho">
        <mat-form-field class="campoWidth100">
          <input matInput name="nombreExpediente" [(ngModel)]="items.nombreExpediente" placeholder="Nombre"
                 maxLength="200" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="campoWidth100">
          <input matInput name="titulo" [(ngModel)]="items.titulo" placeholder="Título"
                 maxLength="100" required>
          <mat-error>Campo requerido</mat-error>
       </mat-form-field>

       <mat-form-field class="campoWidth100">
         <mat-select placeholder="Coordinador" [(ngModel)]="items.coordinador" name="coordinador" >
           <mat-option [value]="u.nombreUsuario" *ngFor="let u of users">
             {{ u.nombreUsuario }}
           </mat-option>
         </mat-select>
       </mat-form-field>

       <mat-form-field class="campoWidth100">
        <mat-select placeholder="Cartera" [(ngModel)]="items.cartera" name="coordinador" required>
          <mat-option [value]="c.identificador" *ngFor="let c of carteras">
            {{ c.nombreCartera }}
          </mat-option>
        </mat-select>
      </mat-form-field>

       <mat-form-field class="campoWidth100">
         <input matInput type="date" name="fechaInicio" [(ngModel)]="items.fechaInicio" placeholder="Fecha inicio" required >
         <mat-error>Campo requerido</mat-error>
       </mat-form-field>

       <mat-form-field class="campoWidth100">
         <input matInput type="date" name="fechaFin" [(ngModel)]="items.fechaFin" placeholder="Fecha fin" required>
         <mat-error>Campo requerido</mat-error>
       </mat-form-field>
    </div>

    <div class="row contenedorFormEstrecho">
      <mat-form-field class="campoWidth100">
        <textarea matInput name="detalle" [(ngModel)]="items.detalle" placeholder="Detalles"
                  maxLength="500"></textarea>
      </mat-form-field>
    </div>

    <div class="row" *ngIf="!realizandoAccion">
      <div class="btnsEditarAnyadir">
        <div *ngIf="_authService.tienePermiso(25)" class="btnsEditarAnyadir">
          <mat-dialog-actions class="btnsEditarAnyadir">
            <button type="submit" color="primary" mat-raised-button [disabled]="formulario.form.invalid">Crear</button>
            <button type="button" mat-raised-button (click)="limpiarCampos()" color="warn">Limpiar campos</button>
          </mat-dialog-actions>
        </div>
      </div>
    </div>
    <div class="VentanaEmergenteSpinner1">
      <div class="VentanaEmergenteSpinner2" *ngIf="realizandoAccion">
          <mat-spinner color="warn"></mat-spinner>
      </div>
    </div>
  </form>
</div>
