<br><br><br><br><br>
<div class="container-fluid">
        <h1><span class="icon-folder-add"></span> Nuevo Evento <small>{{expediente.nombreExpediente}}</small></h1>
        <form class="animated fadeIn fast"(ngSubmit)="guardar()" #forma="ngForm">
          <div class="row">
            <div class="col-sm-3">
              <label>Nombre del evento</label>
              <input [(ngModel)]="expediente.nombreExpediente" name="nombreExp" class="form-control" placeholder="Nombre del expediente" required type="text">
            </div>
            <div class="col-sm-3">
              <label>Título</label>
              <input [(ngModel)]="expediente.titulo" name="nombreTit" class="form-control" placeholder="Título del evento" required type="text">
            </div>
            <div class="col-sm-3">
              <label>Cartera</label>
              <select class="form-control" name=expediente_cartera [(ngModel)]="expediente.cartera" required>
                <option [ngValue]="c.identificador" *ngFor="let c of cartera" >{{c.nombreCartera}}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label>Fecha inicio</label>
              <input [(ngModel)]="expediente.fechaInicio" name="fechaInicio" class="form-control" required type="date">
            </div>
            <div class="col-sm-3">
              <label>Fecha fin</label>
              <input [(ngModel)]="expediente.fechaFin" name="fechaFin" class="form-control" required type="date">
            </div>
            <div class="col-sm-3">
              <label>Coordinador</label>
              <select class="form-control" name=expediente_coordinador [(ngModel)]="expediente.coordinador" required>
                <option [ngValue]="u.identificador" *ngFor="let u of users" >{{u.nombreUsuario}}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label>Detalles</label>
              <input [(ngModel)]="expediente.detalle" name="detalle" class="form-control" type="text">
            </div>
            <div class="col-sm-9">
              <label for="imagenForm">Imagen evento</label>
              <img src=""  alt="Imagen del evento" width="200px" #etiquetaImgExp>
              <input type="file" id="imagenForm" (change)="cargarImg($event.target.files)" accept="image/*">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
            <button (click)="borrarFormExp()" class="btn btn-danger">Limpiar campos</button>
          </div>

        </form>
        <br>






</div>

<!-- aqui acaba el container fluid -->
