<div class="contenedorEditar">
  <h1 class="mat-display-1 tituloComponentes titRol"><span class="icon-town-hall"></span> {{titulo}}: {{items.nombreRol}}</h1>
  <a class="btnCerrar" (click)="cerrarDialogo()"><i class="material-icons iconoCerrar">close</i></a>
  <form (ngSubmit)="anyadirItem()" #formulario="ngForm">
    <div class="row contenedorFormRol titRol">

      <mat-form-field class="carteraNombre">
        <input matInput name="nombreRol" [(ngModel)]="items.nombreRol" placeholder="Nombre" [readonly]="bloqCampos"
               maxLength="200" required>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="expTitulo">
        <textarea matInput rows="1" name="observaciones" [(ngModel)]="items.observaciones" placeholder="Descripción" [readonly]="bloqCampos"
               maxLength="500"></textarea>
      </mat-form-field>

      <div *ngIf="editar" class="alignCenter RolCheck">
        <p matTooltip="Determina si se encuentra disponible en estos momentos.">
        Activo<mat-slide-toggle name="activado" (change)="$event ? selectionAct.toggle(0) : null; activoChange = true" [checked]="selectionAct.isSelected(0)" (click)="$event.stopPropagation()" [disabled]="bloqCampos"></mat-slide-toggle></p>
      </div>

    </div>
    <div class="row contenedorFormCamposDestacados ">
      <div class="col-sm-3 cbRoles">
        <p>Carteras</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(23) : null; permisoChange = true;checkboxCambiado(23)" [checked]="selection.isSelected(23)" (click)="$event.stopPropagation()" name="cartera" value="ConsultarCa">Consultar carteras</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(21) : null; permisoChange = true;checkboxCambiado(21)" [checked]="selection.isSelected(21)" (click)="$event.stopPropagation()" name="cartera" value="CrearCa">Crear carteras</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(22) : null; permisoChange = true;checkboxCambiado(22)" [checked]="selection.isSelected(22)" (click)="$event.stopPropagation()" name="cartera" value="ActualizarCa">Actualizar carteras</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(24) : null; permisoChange = true;checkboxCambiado(24)" [checked]="selection.isSelected(24)" (click)="$event.stopPropagation()" name="cartera" value="EliminarCa">Eliminar carteras</mat-checkbox><br><br>
      </div>
      <div class="col-sm-3 cbRoles">
        <p>Eventos</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(27) : null; permisoChange = true;checkboxCambiado(27)" [checked]="selection.isSelected(27)" (click)="$event.stopPropagation()" name="evento" value="ConsultarEv">Consultar eventos</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(25) : null; permisoChange = true;checkboxCambiado(25)" [checked]="selection.isSelected(25)" (click)="$event.stopPropagation()" name="evento" value="CrearEv">Crear eventos</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(26) : null; permisoChange = true;checkboxCambiado(26)" [checked]="selection.isSelected(26)" (click)="$event.stopPropagation()" name="evento" value="ActualizarEv">Actualizar eventos</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(28) : null; permisoChange = true;checkboxCambiado(28)" [checked]="selection.isSelected(28)" (click)="$event.stopPropagation()" name="evento" value="EliminarEv">Eliminar eventos</mat-checkbox><br><br>
      </div>
      <div class="col-sm-3 cbRoles">
        <p>Actividades</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(15) : null; permisoChange = true;checkboxCambiado(15)" [checked]="selection.isSelected(15)" (click)="$event.stopPropagation()" name="actividad" value="ConsultarAc">Consultar actividades</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(13) : null; permisoChange = true;checkboxCambiado(13)" [checked]="selection.isSelected(13)" (click)="$event.stopPropagation()" name="actividad" value="CrearAc">Crear actividades</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(14) : null; permisoChange = true;checkboxCambiado(14)" [checked]="selection.isSelected(14)" (click)="$event.stopPropagation()" name="actividad" value="ActualizarAc">Actualizar actividades</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(16) : null; permisoChange = true;checkboxCambiado(16)" [checked]="selection.isSelected(16)" (click)="$event.stopPropagation()" name="actividad" value="EliminarAc">Eliminar actividades</mat-checkbox><br><br>
      </div>
    <!-- </div>
    <div class="row contenedorFormCamposDestacados"> -->
      <div class="col-sm-3 cbRoles">
        <p>Tareas</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(11) : null; permisoChange = true;checkboxCambiado(11)" [checked]="selection.isSelected(11)" (click)="$event.stopPropagation()" name="tarea" value="ConsultarTa">Consultar tareas</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(9) : null; permisoChange = true;checkboxCambiado(9)" [checked]="selection.isSelected(9)" (click)="$event.stopPropagation()" name="tarea" value="CrearTa">Crear tareas</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(10) : null; permisoChange = true;checkboxCambiado(10)" [checked]="selection.isSelected(10)" (click)="$event.stopPropagation()" name="tarea" value="ActualizarTa">Actualizar tareas</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(12) : null; permisoChange = true;checkboxCambiado(12)" [checked]="selection.isSelected(12)" (click)="$event.stopPropagation()" name="tarea" value="EliminarTa">Eliminar tareas</mat-checkbox><br><br>
      </div>
      <div class="col-sm-3 cbRoles">
        <p>Contratos</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(19) : null; permisoChange = true;checkboxCambiado(19)" [checked]="selection.isSelected(19)" (click)="$event.stopPropagation()" name="contrato" value="ConsultarCo">Consultar contratos</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(17) : null; permisoChange = true;checkboxCambiado(17)" [checked]="selection.isSelected(17)" (click)="$event.stopPropagation()" name="contrato" value="CrearCo">Crear contratos</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(18) : null; permisoChange = true;checkboxCambiado(18)" [checked]="selection.isSelected(18)" (click)="$event.stopPropagation()" name="contrato" value="ActualizarCo">Actualizar contratos</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(20) : null; permisoChange = true;checkboxCambiado(20)" [checked]="selection.isSelected(20)" (click)="$event.stopPropagation()" name="contrato" value="EliminarCo">Eliminar contratos</mat-checkbox><br><br>
      </div>
      <div class="col-sm-3 cbRoles">
        <p>Espacios</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(7) : null; permisoChange = true;checkboxCambiado(7)" [checked]="selection.isSelected(7)" (click)="$event.stopPropagation()" name="espacio" value="ConsultarEs">Consultar espacios</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(5) : null; permisoChange = true;checkboxCambiado(6)" [checked]="selection.isSelected(5)" (click)="$event.stopPropagation()" name="espacio" value="CrearEs">Crear espacios</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(6) : null; permisoChange = true;checkboxCambiado(6)" [checked]="selection.isSelected(6)" (click)="$event.stopPropagation()" name="espacio" value="ActualizarEs">Actualizar espacios</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(8) : null; permisoChange = true;checkboxCambiado(8)" [checked]="selection.isSelected(8)" (click)="$event.stopPropagation()" name="espacio" value="EliminarEs">Eliminar espacios</mat-checkbox><br><br>
      </div>
    <!-- </div>
    <div class="row contenedorFormCamposDestacados"> -->
      <div class="col-sm-3 cbRoles">
        <p>Proveedores</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(31) : null; permisoChange = true;checkboxCambiado(31)" [checked]="selection.isSelected(31)" (click)="$event.stopPropagation()" name="proveedor" value="ConsultarPr">Consultar proveedores</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(29) : null; permisoChange = true;checkboxCambiado(29)" [checked]="selection.isSelected(29)" (click)="$event.stopPropagation()" name="proveedor" value="CrearPr">Crear proveedores</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(30) : null; permisoChange = true;checkboxCambiado(30)" [checked]="selection.isSelected(30)" (click)="$event.stopPropagation()" name="proveedor" value="ActualizarPr">Actualizar proveedores</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(32) : null; permisoChange = true;checkboxCambiado(32)" [checked]="selection.isSelected(32)" (click)="$event.stopPropagation()" name="proveedor" value="EliminarPr">Eliminar proveedores</mat-checkbox><br><br>
      </div>
      <div class="col-sm-3 cbRoles">
        <p>Roles</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(35) : null; permisoChange = true;checkboxCambiado(35)" [checked]="selection.isSelected(35)" (click)="$event.stopPropagation()" name="rol" value="ConsultarRol">Consultar roles</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(33) : null; permisoChange = true;checkboxCambiado(33)" [checked]="selection.isSelected(33)" (click)="$event.stopPropagation()" name="rol" value="CrearRol">Crear roles</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(34) : null; permisoChange = true;checkboxCambiado(34)" [checked]="selection.isSelected(34)" (click)="$event.stopPropagation()" name="rol" value="ActualizarRol">Actualizar roles</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(36) : null; permisoChange = true;checkboxCambiado(36)" [checked]="selection.isSelected(36)" (click)="$event.stopPropagation()" name="rol" value="EliminarRol">Eliminar roles</mat-checkbox><br><br>
      </div>
      <div class="col-sm-3 cbRoles">
        <p>Usuarios</p>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(55) : null; permisoChange = true;checkboxCambiado(55)" [checked]="selection.isSelected(55)" (click)="$event.stopPropagation()" name="usuario" value="ConsultarU">Consultar usuarios</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(54) : null; permisoChange = true;checkboxCambiado(54)" [checked]="selection.isSelected(54)" (click)="$event.stopPropagation()" name="usuario" value="CrearU">Crear usuarios</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(56) : null; permisoChange = true;checkboxCambiado(56)" [checked]="selection.isSelected(56)" (click)="$event.stopPropagation()" name="usuario" value="ActualizarU">Actualizar usuarios</mat-checkbox><br>
        <mat-checkbox [disabled]="bloqCampos" (change)="$event ? selection.toggle(58) : null; permisoChange = true;checkboxCambiado(58)" [checked]="selection.isSelected(58)" (click)="$event.stopPropagation()" name="usuario" value="ActualizarU">Eliminar usuarios</mat-checkbox><br><br>
        <!-- TODO: CAMBIAR el disabled y el 56 por el codigo que se le asigne -->
      </div>
    </div>
    <div class="row btnRol" *ngIf="!realizandoAccion && items.identificador != 1">
      <div class="btnsEditarAnyadir">
        <div *ngIf="!editar && _authService.tienePermiso(33)" class="btnsEditarAnyadir">
          <mat-dialog-actions class="btnsEditarAnyadir">
            <button type="submit" color="primary" mat-raised-button [disabled]="formulario.form.invalid">Crear</button>
            <button type="button" mat-raised-button (click)="limpiarCampos()" color="warn">Limpiar campos</button>
          </mat-dialog-actions>
        </div>
        <div *ngIf="editar && _authService.tienePermiso(34)" class="btnsEditarAnyadir RolCheck">
          <div *ngIf="bloqCampos" class="btnsEditarAnyadir ">
            <button type="button" mat-raised-button color="primary" (click)="disable_enable_campos()">Editar</button>
          </div>
          <div *ngIf="!bloqCampos" class="btnsEditarAnyadir">
            <mat-dialog-actions class="btnsEditarAnyadir RolCheck">
              <button type="submit" color="primary" mat-raised-button [disabled]="formulario.form.invalid || (!formulario.form.dirty && !activoChange && !permisoChange)">Guardar cambios</button>
              <button type="button" mat-raised-button (click)="disable_enable_campos()" color="warn">Cancelar</button>
            </mat-dialog-actions>
          </div>
        </div>
      </div>
    </div>
    <div class="VentanaEmergenteSpinner1">
      <div class="VentanaEmergenteSpinner2" *ngIf="realizandoAccion">
          <mat-spinner color="warn"></mat-spinner>
      </div>
    </div>
  </form>
</div>
