<div class="container-fluid divContenedorTabla">
  <div class="row">
    <div class="example-header cabeceraMargin">
      <div class="elementosCabecera">
        <button *ngIf="_authService.tienePermiso(33)" mat-raised-button class="botonMat botonNuevoItem" type="submit" color="primary"
          (click)="editarAnyadirItem(null)">Nuevo Rol</button>
        <button *ngIf="_authService.tienePermiso(36)" mat-raised-button type="button" class="botonEliminarItems" [disabled]="btnEliminar" color="warn" (click)="botonEliminarItem(selection.selected)"><i class="material-icons">delete</i></button>

        <div class="divPaginacion">
          <mat-form-field class="elementosPaginacion">
            <input matInput (keyup)="realizarBusqueda($event)" placeholder="Búsqueda" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)='value=""'>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <!-- <p>Elementos por página</p> -->
          <div class="elementosPaginacion">
            <mat-form-field class="selectNumPgns">
              <mat-select [(value)]="option_Items_Pgn" placeholder="Elementos por página" (change)="actualizarPaginacion()">
                <mat-option value="5">5</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="15">15</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="30">30</mat-option>
                <mat-option value="40">40</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="75">75</mat-option>
                <mat-option value="100">100</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="elementosPaginacion">
            <p>Pág. {{paginacion.current_page}} de {{paginacion.total_pages}}</p>
          </div>
          <div class="elementosPaginacion btnsPaginacion" #btnsPag>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(1)"><i class="material-icons">first_page</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(2)"><i class="material-icons">navigate_before</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(3)"><i class="material-icons">navigate_next</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(4)"><i class="material-icons">last_page</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <div class="example-container mat-elevation-z8">

        <mat-table class="tablaComponente" #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="identificador">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)"></mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.identificador}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nombreRol">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)">Nombre</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.nombreRol}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="observaciones">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)">Observaciones</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.observaciones}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fechaCreacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(3)">Fecha de creación</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.fechaCreacion | date:'dd/MM/yyyy'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="activo">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(5)">Activo</mat-header-cell>
            <mat-cell *matCellDef="let items" [class.slideDisabledAzul]="items.activo == 1">
              <mat-slide-toggle [checked]="items.activo == 1" disabled ></mat-slide-toggle>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['select','identificador','nombreRol','observaciones','fechaCreacion','activo']"></mat-header-row>
          <mat-row class="elementoTabla" *matRowDef="let row; columns: ['select','identificador','nombreRol','observaciones','fechaCreacion','activo']" (click)="editarAnyadirItem(row)"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
