<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <h3 class="animated fadeIn fast">Detalles del usuario <i class="animated fadeIn"> {{usuario.nombreUsuario}} </i></h3>
    <br>
      <div class="form-group animated fadeIn fast">
        <label class="animated fadeIn"><b>Id: </b></label>
        <a class="animated fadeIn">{{ usuario.id }} </a>
      </div>
      <br>
      <div class="form-group animated fadeIn fast">
        <label class="animated fadeIn"><b>Email: </b></label>
        <a class="animated fadeIn"> {{usuario.email}} </a>
      </div>
      <br>
      <div class="form-group animated fadeIn fast">
        <label class="animated fadeIn"><b>Nombre: </b></label>
        <a class="animated fadeIn">  {{usuario.nombreUsuario}} </a>
      </div>
      <br>
      <div class="form-group animated fadeIn fast">
        <label class="animated fadeIn"><b>Nick: </b></label>
        <a class="animated fadeIn">  </a>
      </div>
      <br>
      <div class="form-group animated fadeIn fast">
        <label class="animated fadeIn">....</label>
        <a class="animated fadeIn">  </a>
      </div>
  </div>
</div>
