
<div class="container-fluid">
        <h1><span class="icon-user-outline"></span> Usuario <small>{{usuario.nombreUsuario}}</small></h1>
        <!-- mensajes -->
        <div class="container" *ngIf="errorUsuario === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
                <h1 class="text-center">¡Ups! <p> </p>
                  <p><small class="text-center"> Ha habido un error creando un usuario.</small></p></h1>
                  <p class="text-center text-danger" *ngFor="let mensaje of errorMensaje">
                        {{mensaje}}
                </p>
            </div>
        </div>
        <div class="container" *ngIf="errorUsuarioActualizar === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
                <h1 class="text-center">¡Ups! <p> </p>
                  <p><small class="text-center"> Ha habido un error actualizando un usuario.</small></p></h1>
                  <p class="text-center text-danger" *ngFor="let mensaje of errorMensaje">
                        {{mensaje}}
                </p>
            </div>
        </div>

        <div class="container" *ngIf="rgstrUsuario === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-smile-o" style="color:#28a745;"></i></div>
                <h1 class="text-center">¡Usuario creado! <p> </p>
                  <p><small class="text-center text-success"> Se ha enviado un email de confirmación a {{usuario.correo}}.</small></p></h1>

            </div>
        </div>
        <!-- fin mensajes -->

        <form (ngSubmit)="guardar()" #forma="ngForm">
          <div class="form-group">
            <label>Nombre</label>
            <input [(ngModel)]="usuario.nombreUsuario"
              name="nombreUsuario"
              class="form-control"
              placeholder="Nombre del Usuario"
              required
              type="text">
          </div>
          <div class="form-group">
            <label>Apodo</label>
            <input [(ngModel)]="usuario.apodo"
              name="apodo"
              class="form-control"
              placeholder="Apodo del Usuario"
              required
              type="text">
          </div>
          <div class="form-group">
            <label>Correo</label>
            <input [(ngModel)]="usuario.correo"
              name="correo"
              class="form-control"
              placeholder="Correo del Usuario"
              required
              type="text">
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input
              name="password"
              class="form-control"
              placeholder="Contraseña del Usuario"
              required
              type="text">
          </div>
          <div class="form-group">
            <label>Confirmacion de Contraseña</label>
            <input
              name="password_confirmation"
              class="form-control"
              placeholder="Confirmacion Contraseña del Usuario"
              required
              type="text">
          </div>

          <div class="form-group">
                  <label>Rol</label>
                  <select [(ngModel)]="usuario.rol"
                    name="rol"
                  class="form-control"
                  >
                    <option value="1">Administrador</option>
                    <option value="2">trabajador</option>
                    <option value="4">Otros</option>

                  </select>
                </div>
          <div class="form-group">
            <button [disabled]="!forma.valid"
               type="submit" class="btn btn-outline-primary">
              Guardar cambios
            </button>

          </div>

        </form>
        <br>
</div>

<!-- aqui acaba el container fluid -->
