<h1>Usuarios</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/usuario','nuevo']"
            class="btn btn-outline-primary"
            type="button" name="button">
      Nuevo usuario
    </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Detalles</th>
      <th scope="col">Modificar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios | keys; let i=index;">
      <th scope="row">{{i}}</th>
      <td>{{ usuario.nombreUsuario }}</td>
      <td>
        <button [routerLink]="['/usuario',usuario.id,'detalle']"
                class="btn btn-outline-primary"
                type="button" name="button">
          Detalles
        </button>
      </td>
      <td>
        <button [routerLink]="['/usuario',usuario.id,'edit']"
                class="btn btn-outline-primary"
                type="button" name="button">
          Modificar
        </button>
      </td>
      <td>
        <button (click)="borrarUsuario(usuario.id)"  class="btn btn-outline-danger red"
        type="button" name="button">
          Eliminar
        </button>
      </td>




    </tr>
  </tbody>
</table>
</div>
</div>
</div>
