<br><br>
<div class="container-fluid">
  <div class="row ">
      <div  class="table-responsive">
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <h1 style="margin-left:30px; padding-top:30px; margin-bottom:10px;" class="mat-display-1">Usuarios</h1>
            <!-- subheader -->

              <button style="margin-left:30px;"  mat-raised-button
                class="botonMat"
                type="submit"
                color="primary"

                (click)="openDialogEditar(row)"> Nuevo Usuario
              </button>
              <mat-form-field style="margin-left:30px;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
              </mat-form-field>

              <mat-paginator style="width:auto; margin-right:30px;" #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20, 50, 100]"
                    [showFirstLastButtons]="true">
               </mat-paginator>

          </div>


          <mat-table style="margin-left:30px; margin-right:30px;" #table [dataSource]="dataSource" matSort>


            <!-- Checkbox Column -->
               <!-- <ng-container  matColumnDef="select">
                 <mat-header-cell color="primary" *matHeaderCellDef>
                   <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                 [checked]="selection.hasValue() && isAllSelected()"
                                 [indeterminate]="selection.hasValue() && !isAllSelected()">
                   </mat-checkbox>

                   <button *ngIf="isAllSelected()" (click)="borrarUsuario(usuario.identificador)" style="min-width:10px;" class="botonMat"  mat-button><mat-icon style="color:#dc3545">delete</mat-icon></button>

                 </mat-header-cell>
                 <mat-cell  color="primary" *matCellDef="let row">
                   <mat-checkbox class="noAnim" color="primary"
                                (click)="$event.stopPropagation()"
                                 (change)="$event ? selection.toggle(row) : null"
                                 [checked]="selection.isSelected(row)">
                                 <button (click)="openDialogEliminar(row)"  class="botonMat" mat-icon-button color="warn">
                                     <mat-icon color="warn" >delete</mat-icon>
                                </button>

                   </mat-checkbox>

                 </mat-cell>
               </ng-container> -->
             <ng-container matColumnDef="eliminar">
               <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
               <mat-cell   *matCellDef="let usuario">
                 <button (click)="openDialogEliminar(usuario)"  class="botonMat" mat-icon-button color="warn">
                     <mat-icon color="warn" >delete</mat-icon>
                </button>

               </mat-cell>
             </ng-container>

            <ng-container matColumnDef="identificador">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Id </mat-header-cell>
              <mat-cell (click)="openDialogEditar(usuario)"  *matCellDef="let usuario">{{usuario.identificador}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="nombreUsuario">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
              <mat-cell (click)="openDialogEditar(usuario)" *matCellDef="let usuario">{{usuario.nombreUsuario}}</mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="apodo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Apodo </mat-header-cell>
              <mat-cell  (click)="openDialogEditar(usuario)" *matCellDef="let usuario"> {{usuario.apodo}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="correo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
              <mat-cell   *matCellDef="let usuario"> {{usuario.correo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="esVerificado">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Verificado </mat-header-cell>
              <!-- <mat-cell *matCellDef="let usuario"> <div *ngIf="usuario.esVerificado ==0">No</div> </mat-cell> -->
              <mat-cell (click)="openDialogEditar(usuario)" *matCellDef="let usuario">
                <div *ngIf="!usuario.esVerificado ==0">Si</div>
                <div *ngIf="usuario.esVerificado ==0">No</div>
              </mat-cell>

              <!-- <mat-cell *ngIf="!usuario.esVerificado ==0" matCellDef="let usuario"> Si </mat-cell> -->
              <!-- <mat-cell *ngIf="usuario.esVerificado ==0" matCellDef="let usuario"> No </mat-cell> -->
            </ng-container>

            <ng-container matColumnDef="rol">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Rol </mat-header-cell>
              <mat-cell (click)="openDialogEditar(usuario)" *matCellDef="let usuario">
                <div *ngIf="usuario.rol ==1">Administrador</div>
                <div *ngIf="usuario.rol ==2">Trabajador</div>
                <div *ngIf="usuario.rol !=1 && usuario.rol !=2">Otros roles</div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['eliminar', 'identificador', 'nombreUsuario', 'apodo', 'esVerificado','rol']"></mat-header-row>
            <mat-row class="elementoTabla" *matRowDef="let row; columns: ['eliminar','identificador', 'nombreUsuario', 'apodo', 'esVerificado','rol']" ></mat-row>
          </mat-table>
<br><br><br>
        </div>
      </div>

</div>
<!-- aqui acaba el container fluid -->
