<div class="tituloBots">
  <h1 class="cover-heading">Chatbots de ayuda</h1>
  <p class="lead">GVENT pone a tu disposición bots conversacionales que te ayudarán a resolver tus dudas y a mejorar tus capacidades como administrador y creador de eventos.</p>
</div>
<div class="row">
  <div class="Col-md-4">
    <div class="imgGrande"><img src="assets/ImgChatbots/paula.JPG" draggable="false"/></div>
    <h3 class="cover-heading">Paula: ¿Dudas sobre la APP de GVENT?</h3>
    <p class="lead">Yo te explicaré cualquier duda sobre el funcionamiento de nuestra aplicación.</p>
    <p class="lead">
      <button id="btnChatGrandePaula" class="btn btn-lg btn-secondary" disabled="true">¡Háblame!</button>
    </p>
  </div>
  <div class="Col-md-4">
    <div class="imgGrande"><img src="assets/ImgChatbots/carlos.JPG" draggable="false"/></div>
    <h3 class="cover-heading">Carlos: ¿Es fácil crear un evento?</h3>
    <p class="lead">Planificar un evento no es tan sencillo como parece. ¡Habla conmigo si quieres que te eche una mano!</p>
    <p class="lead">
      <button id="btnChatGrandeCarlos" class="btn btn-lg btn-secondary">¡Háblame!</button>
    </p>
  </div>
  <div class="Col-md-4">
    <div class="imgGrande"><img src="assets/ImgChatbots/maria.JPG" draggable="false"/></div>
    <h3 class="cover-heading">María</h3>
    <p class="lead">Próximamente...</p>
    <p class="lead">
      <button id="btnChatGrandeMaria" class="btn btn-lg btn-secondary" disabled="true">¡Háblame!</button>
    </p>
  </div>
</div>
