




<!DOCTYPE html>
<html lang="es" ng-app="appGVENT">
  <head>
    <meta charset="utf-8">
    <title>GVENT</title>
    <script type="text/javascript" src="angularjs/angular.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="../funciones.js"></script>
      <link href="style.css" rel="stylesheet" title="Estilo principal">

  </head>
  <body>






    <section class="flex-container">
      <h2>Iniciar sesion</h2>
      <div ng-controller="loginCtrl">
        <form novalidate class="simple-form">
        <input type="email" placeholder="E-mail" ng-model="user.email" /><br />
          <input type="password" placeholder="Contraseña" ng-model="user.password" /><br />


          <input type="submit" ng-click="update(user)" value="Acceder" /><br>
          <a href="#">No recuerdo mi contraseña.</a><br><br>
          <p>¿Todavía no tienes una cuenta? <a href="registro.html">Regístrate.</a></p>
        </form>

        <pre>user = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>
      </div>




    </section>





  </body>
</html>
