/* COLORES
azul: #05386B
turqesa: #86cb91
turquesa oscuro: #71b48d
gris: #A8A8A8

*/


.flex-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  width:50%;
  padding: 5%;
  color: black;
}

@media screen and (max-width: 480px){
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    width:90%;
    padding: 5%;
    color: black;
  }

}

section {
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;

}
section article {
  text-align: center;
  margin: 0 auto;
  

}



body{
  background-color:#05386B;
  color: white;
  text-align: center;
  font-family: 'Comfortaa';
}

h1{
  color: white;
  text-transform: capitalize;
  font-family: 'Montserrat';
}
h2{
  color: #A8A8A8;
  text-transform: capitalize;
  font-family: 'Montserrat';
}

a{
  color: #A8A8A8;
  text-decoration: none;
}

a:hover{
font-weight: 800;

}

header a:hover{
  color: white;
}



img{
  max-width: 100%;
  max-height: 100%;
}

section>article>p{
  text-align: justify;
}

footer a{
  color: #A8A8A8;
}

.btnsPrincipal{
  text-align: right;
}



 button, input[type="submit"]{
  width: 120px;
  height: 30px;
  background-color: #86cb91;
  color: white;
  font-size: 18px;
  font-family: 'Comfortaa';
  border: 2px solid #86cb91;
  border-radius: 50px;
  margin-left: 13px;
  margin: 13px 7px 13px 7px;
}

 button:hover, input[type="submit"]:hover {
  color: white;
  background-color: #71b48d;
  border: 2px solid #71b48d;

}

input{
  width: 360px;
  height: 35px;
  margin: 5px;
  border-radius: 50px;
  border: 1px solid #a8a8a8;
  font-family: 'Comfortaa';
  padding: 0px 10px 0px 10px;

}

input:focus{
  border: 2px solid #a8a8a8;
}

textarea{
  border-radius: 20px;
  border: 1px solid #a8a8a8;
  font-family: 'Comfortaa';
  padding: 10px;
  margin: 5px;
}

textarea:focus{
  border: 2px solid #a8a8a8;
}

.tablaIndex{
  text-align: center;
  margin: 0 auto;


}
.tablaIndex td {
    padding: 30px;
}

/*.tablaIndex tr:nth-child(1) td:nth-child(1) {
    background: red;
}
.tablaIndex tr:nth-child(1) td:nth-child(2) {
    background: #2EFE2E;
}
.tablaIndex tr:nth-child(1) td:nth-child(3) {
    background: #BDBDBD;
}
.tablaIndex tr:nth-child(1) td:nth-child(4) {
    background:#FFBF00;
}*/
.tablaIndex tr:nth-child(1) td:nth-child(1)  {
    background: #BDBDBD;
}





/* MENU ***************************************************************************/

@media screen and (max-width: 480px){
  #ckb-menu{
    display:none;
  }

  body>nav>ul{
    margin:0;
    padding: 0;
    max-height:1.2em;
    overflow:hidden;
    transition: max-height .5s;
    margin-bottom: 2em;
  }

  body>nav>ul>li:first-of-type>label{
    display:inline-block;
    transform:rotate(-90deg);
    transition: transform .5s;
  }

  body>nav>ul>li{
    list-style: none;
    display:inline-block;
    width:100%;
    font-size: 16px;
    text-transform: uppercase;
  }

  body>nav>ul>li>p{
    margin-bottom: -2em;
  }


  body>nav>ul>li>a{
    display:block;
    padding: .2em .4em;
  }

  #ckb-menu{
   position: fixed;
   float: left;
  }

  #ckb-menu:checked+nav>ul>li:first-of-type>label{
    transform: rotate(0);
  }

  #ckb-menu:checked+nav>ul{
    max-height: 50em;
  }

}

@media screen and (min-width: 480px){
  nav{
    text-align:  center;
    margin-top: -5em;
  }

  nav ul li
  {
      display: inline;
      padding: 1%;
      text-transform: uppercase;
      text-decoration: none;

  }

  #ckb-menu{
    visibility: hidden;
  }

}
