
/*CSS comun a todos los componentes con tabla*/
.mat-row{
  height: 48px;
  min-height: 48px;
  max-height: 48px;
}
.divContenedorTabla{
  margin-top:6em;
  margin-bottom: 5em;
}
.tituloComponentes{
  margin-left: 1.3em;
  margin-bottom: .3em;
}
.paginacionComponente{
  width: auto;
  margin-right: 3em;
}
.tablaComponente{
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.example-header{
  width: 100%;
}
.elementosCabecera{
  margin-top: 1em;
}
.mat-raised-button{
  min-width: 55px;
}
.botonNuevoItem{
  float:left;
  margin-left: 3em;
  display: inline-block;
}
.botonEliminarItems{
  float:left;
  margin-left: 1em;
  display: inline-block;
}
.divPaginacion{
  float: right;
  margin-right:1em;
  font-size: .8em;
  color:grey;
  display: inline-block;
}
.elementosPaginacion{
  display:inline-block;
  margin-right: 2em;
}
.selectNumPgns{
  max-width: 8em;
}
.btnsPaginacion>a{
  position: relative;
  top: .6em;
  cursor: pointer;
}
.btnsPaginacion>a:hover{
  color:blue;
}
.btnsPaginacionOff>*{
  color:#dddddd;
  cursor:context-menu;
}
.plantillaImg {
  width: 300px;
}
/deep/ div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}
/deep/ .mat-expansion-panel-header  {
    height: 48px;
}
.pointer {cursor: pointer;}
/*FIN CSS comun a todos los componentes con tabla*/

/* Cartera - expediente*/
.titCarteras{
  float:left;
  display: inline-block;
}
.divTiposCartera{
  float:right;
  margin-right: 3em;
  display: inline-block;
}
  .divTiposCartera>label{
    margin-right: 2em;
    font-size: 1em;
  }
  .divTiposCartera>mat-radio-group>mat-radio-button{
    margin-right: 2em;
    font-size: .8em;
  }
.carteraFormEditar{
  margin-top: .2em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  justify-content: space-between;
}
.carteraFormExpediente{
margin-top: .2em;
margin-left: 2.5em;
margin-right: 2.5em;
}
.descripcionCarteraForm{
  width: 100%;
  margin-left: 3.2em;
  margin-right: 3.2em;
}
.carteraFecha{
  width: 7em;
}
.carteraAnyo{
  width: 3.5em;
}
.carteraNombre{
  width: 30%;
  min-width: 10em;
}
.expTitulo{
  width: 50%;
  min-width: 10em;
}
.carteraPeriodo{
  width: 20%;
  min-width: 9em;
}
.expFecha{
  width: 9em;
}
.tabExpediente{
  width: 100%;
  margin-top: 1.5em;
  margin-left: 3.2em;
  margin-right: 3.2em;
  margin-bottom: 2em;
}
/deep/ .btnVerCartera{
  color: white;
  background-color: rgb(32, 184, 79);
  margin-left: 1em;
}
.btnsExpedienteNewElement{
  margin-top: 1.5em;
  color: white;
  background-color: rgb(32, 184, 79);
}
.expMatPanelDescription{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30em;
}
.expMatPanelTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
}
.panelExp{
  margin-bottom: 1.5em;
  margin-right: 2em;
}
.space-between{
	text-align: justify;
}
.space-between:after{
	content: '';
	display: inline-block;
	width: 100%;
}
.space-between>.expActCampos1{
	display: inline-block;
  width: 25%;
  min-width: 200px;
}
.space-between>.expActCampos2{
	display: inline-block;
  width: 140px;
}
.space-between>.expActCampos3{
	display: inline-block;
  width: 20%;
  min-width: 200px;
}
.alinearCabeceraPanel .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description{
  flex-basis: 0;
}
.alinearCabeceraPanel .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.marginRight{
  margin-right: 2em;
  margin-left: 1.1em;
}
.porcentajeAvance{
  margin-top: 5px;
}
.spinnerAvance{
  margin-top: -30px;
  z-index: 1;
}
/deep/ .spinnerAvanceFondo circle{
  z-index: 0;
  stroke: rgb(172, 172, 172);
}
.nombreConPDF{
  position: absolute;
  /* max-width: 200px; */
}
/* Fin cartera - expediente*/

/*Tamanyo columnas*/
.mat-column-identificador{
  flex:0 0 0;
}
.mat-column-select,.mat-column-estado, .mat-column-avance{
  flex:0 0 5%
}
.mat-column-aforo, .mat-column-codigoPostal, .mat-column-CP, .mat-column-numero,
.mat-column-year,.mat-column-esVerificado{
  flex:0 0 7%
}
.mat-column-fechaInicio, .mat-column-fechaFin{
  flex:0 0 9%
}
.mat-column-telefonoUno,.mat-column-fechaCreacion{
  flex:0 0 10%;
}
.mat-column-trimestre{
  flex:0 0 15%;
}
.mat-column-nombreEspacio,.mat-column-nombreCartera,.mat-column-nombreUsuario,
.mat-column-nombreProveedor,.mat-column-nombreRol,.mat-column-nombreExpediente,
.mat-column-coordinador{
  flex:0 0 20%
}
.mat-column-direccion,.mat-column-descripcion{
  flex:0 0 30%;
}
.mat-column-descripcion{
  flex:0 0 37%;
}
/*Fin tamanyo columnas comunes (id, eliminar)*/

/*Ventana emergente eliminar*/
.VentanaEmergenteSpinner1{
  text-align:center;
}
.VentanaEmergenteSpinner2{
  display:inline-block;
}
.VentanaEmergenteEliminarPregunta{
  text-align:center;
  margin-top: 1.3em;
}
.VentanaEmergenteEliminarInfo{
  text-align:center;
  margin-top: .5em;
  margin-bottom:.5em;
}
.tablaComponenteVEEliminar{
  max-height: 50%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.VentanaEmergenteEliminarBtns{
  display:block;
  text-align:center;
  margin-bottom: 1em;
}
/*Fin ventana emergente eliminar*/

/*Ventana emergente editar*/
.contenedorFormCamposDestacados{
  margin-top: 2em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  justify-content: space-between;
}
.contenedorEditar{
  position: relative;
}
.btnCerrar{
  position: absolute;
  right:1.8em;
  top:.5em;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.iconoCerrar{
  float:center;
  font-size: 30px;
}
.contenedorFormCampos{
  display: flex;
  flex-direction: column;
  margin-left: 2.5em;
}
.contenedorFormCampos>*{
  width: 100%;
}
.btnsEditarAnyadir{
  display:block;
  text-align:center;
  width: 100%;
  margin-top: .5em;
  margin-bottom: 1em;
}
.contenedorFormObservaciones{
  margin-left: 2.5em;
  margin-right: 2.5em;
}
.campoWidth100{
  width:100%;
}
.tresCamposFila{
  margin-top: 2em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  justify-content: space-between;
}
.tresCamposFila>*{
  width: 30%;
}
.contenedorFormEstrecho{
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}
.tituloFormEstrecho{
  margin-left: .3em;
  margin-bottom: .3em;
  margin-right: 3em;
}
/*Fin ventana emergente editar*/

/*Navegador*/
.navBtnNoDesplegable{
  cursor:pointer;
}
/*Fin navegador*/

.invisible{
  display: none;
}
.mapa{
  margin-top: 2em;
  width:95%;
  height:400px
}
