
/*CSS comun a todos los componentes con tabla*/
.divContenedorTabla{
  margin-top:6em;
  margin-bottom: 5em;
}
.tituloComponentes{
  margin-left: 1.3em;
  margin-bottom: .3em;
}
.botonNuevoItem{
  margin-left: 3em;
}
.inputBuscarItem{
    margin-left: 1.4em;
}
.paginacionComponente{
  width: auto;
  margin-right: 3em;
}
.tablaComponente{
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.botonEliminarItems{
  margin-left: 3em;
  margin-top: 2em;
}
.divPaginacion{
  font-size: .8em;
  color:grey;
  text-align: right;
}
.selectNumPgns{
  max-width: 8em;
}
.elementosPaginacion{
  display:inline-block;
  margin-right: 2em;
}
.btnsPaginacion>a{
  position: relative;
  top: .6em;
  cursor: pointer;
}
.btnsPaginacion>a:hover{
  color:blue;
}
.btnsPaginacionOff>*{
  color:#dddddd;
  cursor:context-menu;
}
/*FIN CSS comun a todos los componentes con tabla*/

/*Tamanyo columnas comunes (id, eliminar)*/
.mat-column-select{
  flex:0 0 5%
}
.mat-column-identificador{
  flex:0 0 7%
}
.mat-column-nombreEspacio{
  flex:0 0 20%
}
/*Fin tamanyo columnas comunes (id, eliminar)*/

/*Ventana emergente eliminar*/
.VentanaEmergenteSpinner1{
  text-align:center;
}
.VentanaEmergenteSpinner2{
  display:inline-block;
}
.VentanaEmergenteEliminarPregunta{
  text-align:center;
  margin-top: 1.3em;
}
.VentanaEmergenteEliminarInfo{
  text-align:center;
  margin-top: .5em;
  margin-bottom:.5em;
}
.tablaComponenteVEEliminar{
  max-height: 50%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.VentanaEmergenteEliminarBtns{
  display:block;
  text-align:center;
  margin-bottom: 1em;
}
/*Fin ventana emergente eliminar*/

/*Ventana emergente editar*/
.contenedorFormCamposDestacados{
  margin-top: 2em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  justify-content: space-between;
  width:90%
}
.contenedorEditar{
  position: relative;
}
.btnCerrar{
  position: absolute;
  right:1.8em;
  top:.5em;
  text-align: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.iconoCerrar{
  float:center;
  font-size: 30px;
}
.contenedorFormCampos{
  display: flex;
  flex-direction: column;
  margin-left: 2.5em;
}
.contenedorFormCampos>*{
  width: 100%;
}
.btnsEditarAnyadir{
  display:block;
  text-align:center;
  width: 100%;
  margin-top: .5em;
  margin-bottom: 1em;
}
.contenedorFormObservaciones{
  margin-left: 2.5em;
  margin-right: 2.5em;
}
.campoObservaciones{
  width:100%;
}
/*Fin ventana emergente editar*/

/*Navegador*/
.navBtnNoDesplegable{
  cursor:pointer;
}
/*Fin navegador*/
