<br><br><br><br>
<div class="container-fluid divContenedorTabla">
  <div class="row">
    <div class="example-header">
      <h1 class="mat-display-1 tituloComponentes"><span class="fa fa-bar-chart"></span> Gráficas</h1>
      <p>En esta sección encontrarás los distintos paneles de monitorización de datos.</p>
    </div>


  </div>

  <div class="container">
    <div class="example-header">
      <h2 class="mat-display-1 tituloComponentes"><span class="fa fa-calendar"></span> Eventos</h2>
    </div>

  <div class="row">
    <div class="col-sm">
      <iframe src="https://gvent.ovh/grafana/d-solo/YNTihlRmk/expedientes?orgId=1&panelId=2&from=1513678150965&to=1521823610149" width="512" height="280" frameborder="0"></iframe>
    </div>
    <div class="col-sm">
      <iframe src="https://gvent.ovh/grafana/d-solo/YNTihlRmk/expedientes?orgId=1&panelId=6&from=1513678150965&to=1521823610149" width="512" height="280" frameborder="0"></iframe>
    </div>
    <div class="col-sm">
      <iframe src="https://gvent.ovh/grafana/d-solo/YNTihlRmk/expedientes?orgId=1&panelId=8&from=1513678150965&to=1521823610149" width="512" height="280" frameborder="0"></iframe>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="example-header">
    <h2 class="mat-display-1 tituloComponentes"><span class="fa fa-tasks"></span> Tareas</h2>
  </div>

<div class="row">
  <div class="col-sm">
    <iframe src="https://gvent.ovh/grafana/d-solo/HdpaFfZiz/tareas?orgId=1&from=1511548691151&to=1525957367087&panelId=6" width="512" height="280" frameborder="0"></iframe>
  </div>
  <div class="col-sm">
    <iframe src="https://gvent.ovh/grafana/d-solo/HdpaFfZiz/tareas?orgId=1&from=1511548691151&to=1525957367087&panelId=4" width="512" height="280" frameborder="0"></iframe>
  </div>
  <div class="col-sm">
    <iframe src="https://gvent.ovh/grafana/d-solo/HdpaFfZiz/tareas?orgId=1&from=1511548691151&to=1525957367087&panelId=2" width="512" height="280" frameborder="0"></iframe>
  </div>
</div>
</div>

<br><br><br><br>




</div>
