<br ><br><br><br><br><br>
<div style="background-color:#074d92;" class="container loginClass">
  <div class="row ">
    <div class="container main-container text-center">
      <mat-card  style="text-align:center;  padding-left: 10px; color: white; background-color:#f44336; width:400px; margin:auto;"  *ngIf="loginError === true">
              Usuario o contraseña incorrecto
      </mat-card>
      <br><br>
      <mat-card style="text-align:center;  padding-left: 0px;  padding-top: 0px; width:400px; margin:auto;">
        <mat-toolbar class=" text-center"  style="width:400px;color: white;padding-left: 140px;background-color:#05386B">
          <a [routerLink]="['home']"><img alt="" src="../assets/ImgHome/logo.png" style="width:120px; height:auto;"></a>
        </mat-toolbar>
        <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
            <mat-form-field  [ngClass]="{ 'has-error': f.submitted && !username.valid }" style="width:300px; padding-left:30px; padding-top:20px;" hintLabel="Introduce un correo válido">
              <input  matInput   name="email"  [(ngModel)]="model.email" #username="ngModel" required  placeholder="Email">
            </mat-form-field>
            <mat-form-field  [ngClass]="{ 'has-error': f.submitted }" style="width:300px; padding-left:30px; padding-top:20px;" hintLabel="Contraseña válida">
              <input  matInput type="password"  name="password" [(ngModel)]="model.password" #username="ngModel" required  placeholder="Contraseña">
            </mat-form-field>
            <mat-dialog-actions  style="display:block; padding-top: 30px;   padding-left: 10px; text-align:center;">
              <button type="submit" style="width:200px" color="primary" mat-raised-button>Login</button>
           </mat-dialog-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
