


<br ><br><br><br><br><br>
<div style="background-color:#074d92;" class="container loginClass">
  <div class="row ">
    <div class="container main-container text-center">
      <mat-card  style="text-align:center;  padding-left: 10px; color: white; background-color:#f44336; width:400px; margin:auto;"  *ngIf="loginError === true">
              Usuario o contraseña incorrecto
      </mat-card>
      <br><br>

      <mat-card style="text-align:center;  padding-left: 0px;  padding-top: 0px; width:400px; margin:auto;">

        <mat-toolbar class=" text-center"  style="width:400px;color: white;padding-left: 140px;background-color:#05386B">
        <a [routerLink]="['home']"><img alt="" src="../assets/logo.png" style="width:120px; height:auto;"></a>
        </mat-toolbar>

        <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>

            <mat-form-field  [ngClass]="{ 'has-error': f.submitted && !username.valid }" style="width:300px; padding-left:30px; padding-top:20px;" hintLabel="Introduce un correo valido">
            <input  matInput   name="email"  [(ngModel)]="model.email" #username="ngModel" required  placeholder="Email">
            </mat-form-field>
            <!-- <mat-error *ngIf="f.submitted && !username.valid" class="help-block">Introduce un correo valido</mat-error><br> -->
            <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required />
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            </div> -->
            <!-- <mat-form-field  [ngClass]="{ 'has-error': f.submitted && !password.valid }" style="width:300px; padding-left:30px; padding-top:20px;" hintLabel="Contraseña válida"> -->
              <mat-form-field  [ngClass]="{ 'has-error': f.submitted }" style="width:300px; padding-left:30px; padding-top:20px;" hintLabel="Contraseña válida">

            <input  matInput type="password"  name="password" [(ngModel)]="model.password" #username="ngModel" required  placeholder="Contraseña">
            </mat-form-field>
            <!-- <mat-error *ngIf="f.submitted && !password.valid" class="help-block">Debes introducir una contraseña</mat-error><br><br> -->
            <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
            </div> -->
            <!-- <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Login</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div> -->
            <mat-dialog-actions  style="display:block; padding-top: 30px;   padding-left: 10px; text-align:center;">
              <button type="submit" style="width:200px" color="primary" mat-raised-button>Login</button>

           </mat-dialog-actions>
           <!-- <div *ngIf="logueando==true;" >
               <mat-spinner  color="primary"></mat-spinner>
           </div> -->
            <!-- <mat-form-field  hintLabel="Max 20 caracteres">
            <input  matInput   name="nombreUsuario"  [(ngModel)]="usuario.nombreUsuario" placeholder="Nombre">
            </mat-form-field>
            <th>
            <mat-form-field  hintLabel="Nombre simple">
            <input  matInput   name="apodo"  [(ngModel)]="usuario.apodo" placeholder="Apodo">
            </mat-form-field>
            <tr>
            <mat-form-field   hintLabel="Introduce un correo valido">
            <input  matInput   name="correo"  [(ngModel)]="usuario.correo" placeholder="Correo">
            </mat-form-field>
            <tr>
            <mat-form-field   hintLabel="Numeros y letras">
            <input  matInput   name="password"  [(ngModel)]="usuario.password" placeholder="Contraseña">
            </mat-form-field>
            <tr>
            <mat-form-field   hintLabel="Repite la contraseña">
            <input  matInput   name="password_confirmation"  [(ngModel)]="usuario.password_confirmation" placeholder="Confirmacion">
            </mat-form-field>
            <tr>

            <mat-form-field>
              <mat-select placeholder="Rol" [(ngModel)]="usuario.rol"  name="rol"  >

                <mat-option *ngFor="let rol of roles" [value]="rol.value">
                  {{ rol.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
        </form>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="container main-container text-center">
  <div class="col-md-12">
      <div class="container" class = "" *ngIf="loginError === true">
              <div class="alert alert-danger">Usuario o contraseña incorrecto</div>
      </div>
      <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required />
              <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Login</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>

      </form>
  </div>
</div> -->
<br><br><br><br><br><br><br><br>
