<div class="esconder ventanaChat" [@divState]="state">
  <div class="cabeceraDialogo">
    <div class="imgBotDialogo"><img #imgChat src="" draggable="false"/></div>
    <div class="nombreBotCabecera">{{nombreBot}}</div>
    <div class="botEscribiendo" [innerHtml]="htmlEscribiendo"></div>
  </div>
  <div class="espacioDialogos" #espDialog>
    <ul class="listaMensajes" #listaSms></ul>
  </div>
  <input class="input" type="text" placeholder="Escribe aquí!" (keyup)="inputSms($event)">
  <button class="btnChat" (click)="abrir_cerrar_chat(true)" >¿En qué puedo ayudarte?</button>
</div>
<button *ngIf="true" class="btnChatCir" (click)="abrir_cerrar_chat(false)" [@btnState]="state"><span class="icon-comment"></span></button>
