
<nav class="navbar navbar-expand-lg navbar-dark bg-blue ">
  <a class="navbar-brand" [routerLink]="['home']">GVENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d9d9d9 "id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d9d9d9">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">Acerca de GVENT</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['contact']">Contacto</a>
      </li>
      <div *ngIf="logueadoService.estaLogueado" class="dropdown mr-auto">
        <button class="btn dropdown-toggle elemento-navbar d9d9d9 bg-blue-no-imp" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="icon-user-outline"></span> Usuarios
        </button>
        <div class="bg-blue dropdown-menu  " aria-labelledby="dropdownMenuButton">
          <a
          role="button"
          [routerLink]="['/usuarios']"
          class="nav-link elemento-navbar d9d9d9" >
          <span class="icon-users-outline"></span> Listado</a>
          <a
          role="button"
          [routerLink]="['/nuevo-usuario']"
          class="nav-link elemento-navbar d9d9d9 " >
          <span class="icon-user-add-outline"></span> Nuevo Usuario</a>

        </div>
      </div>
      <div *ngIf="logueadoService.estaLogueado" class="dropdown mr-auto">
        <button class="btn dropdown-toggle elemento-navbar d9d9d9 bg-blue-no-imp" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="icon-folder"></span> Carteras
        </button>
        <div class="bg-blue dropdown-menu  " aria-labelledby="dropdownMenuButton">
          <a
          role="button"
          [routerLink]="['/carteras']"
          class="nav-link elemento-navbar d9d9d9" >
          <span class="icon-archive"></span> Listado</a>
          <a
          role="button"
          [routerLink]="['/nueva-cartera']"
          class="nav-link elemento-navbar d9d9d9 " >
          <span class="icon-folder-add"></span> Nueva Cartera</a>

        </div>
      </div>
    </ul>
    <!-- <div *ngIf="logueadoService.estaLogueado" class="dropdown mr-auto">
      <button class="btn dropdown-toggle elemento-navbar d9d9d9 bg-blue-no-imp" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Usuarios
      </button>
      <div class="bg-blue dropdown-menu  " aria-labelledby="dropdownMenuButton">
        <a
        role="button"
        [routerLink]="['/usuarios']"
        class="nav-link elemento-navbar d9d9d9" >Listado</a>
        <a
        role="button"
        [routerLink]="['/nuevo-usuario']"
        class="nav-link elemento-navbar d9d9d9 " >Nuevo Usuario</a>

      </div>
    </div>
    <div *ngIf="logueadoService.estaLogueado" class="dropdown mr-auto">
      <button class="btn dropdown-toggle elemento-navbar d9d9d9 bg-blue-no-imp" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Carteras
      </button>
      <div class="bg-blue dropdown-menu  " aria-labelledby="dropdownMenuButton">
        <a
        role="button"
        [routerLink]="['/carteras']"
        class="nav-link elemento-navbar d9d9d9" >Listado</a>
        <a
        role="button"
        [routerLink]="['/nueva-cartera']"
        class="nav-link elemento-navbar d9d9d9 " >Nueva Cartera</a>

      </div>
    </div> -->


    <button onclick="window.location.href='https://gvent.ovh/chatbot/'" class="btn btn-info my-2 my-sm-0 small-margin-laterals"
        type="submit"
        >Chatbot</button>

    <button

      *ngIf="!logueadoService.estaLogueado"
      class="btn btn-primary my-2 my-sm-0 small-margin-laterals"
        type="submit"
        [routerLink]="['login']">Iniciar sesión</button>
    <button

        *ngIf="logueadoService.estaLogueado"
        (click)="logout()"
        class="btn btn-danger my-2 my-sm-0 small-margin-laterals"
        type="submit"
        >Logout</button>

  </div>
</nav>
