<br><br><br><br><br>
<div class="container-fluid">
  <div class="row ">
        <h1>&nbsp;<span class="icon-archive-1"></span> Carteras&nbsp;&nbsp;&nbsp;&nbsp;</h1>

        <button
          class="btn btn-secondary  d9d9d9 my-2 my-sm-2 small-margin-laterals"
          type="submit"
          [routerLink]="['/nueva-cartera']"><span class="icon-folder-add"></span> Nueva Cartera&nbsp;</button>&nbsp;

<br><br>
      <form class="form-inline" (ngSubmit)="cambiarNumCarterasPorPagina()" #forma="ngForm">
        <div class="form-group">&nbsp;
          <label>Cantidad por página: &nbsp;</label>
          <select [(ngModel)]="carterasPorPagina"
            name="carterasPorPagina"
          class="form-control"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="this.carteras.length">Todas</option>

          </select>&nbsp;&nbsp;
        </div>

        <div class="form-group">
          <label>Cantidad personalizada: &nbsp;</label>
          <input [(ngModel)]="this.carterasPorPagina"
            name="carterasPorPagina"
            class="form-control"
            placeholder="numero Por Pagina"
            type="text">
        </div>&nbsp;
        <div class="form-group">
          <button
             type="submit" class="btn btn-outline-primary">
            Actualizar
          </button>
        </div>
      </form>&nbsp;
      <br><hr>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <br><br>


        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Año</th>
                <th scope="col">Trimestre</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Creación</th>
                <th scope="col">Fecha Actualizacion</th>
                <th class="text-right">Opciones</th>
              </tr>
            </thead>
            <tbody>
               <!-- el pipe keys es para pasar un objeto a un array -->
              <tr *ngFor="let cartera of  carterasActuales  ; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ cartera.identificador }}</td>
                <td>{{ cartera.nombreCartera }}</td>
                <td>{{ cartera.year }}</td>
                <td *ngIf="cartera.trimestre==1">1er Trimestre</td>
                <td *ngIf="cartera.trimestre==2">2do Trimestre</td>
                <td *ngIf="cartera.trimestre==3">3er Trimestre</td>
                <td *ngIf="cartera.trimestre==4">4to Trimestre</td>
                <td>{{ cartera.estado }}</td>
                <td>{{ cartera.fechaCreacion }}</td>
                <td>{{ cartera.fechaActualizacion }}</td>
                <td class="text-center w20">
                  <button  [routerLink]="['/cartera', cartera.identificador]"
                  type="button" class="btn btn-outline-success">
                    <span class="icon-eye-outline"></span>
                  </button>
                  <button  (click)="borrarCartera(cartera.identificador)"
                  type="button" class="btn btn-outline-danger">
                    <span class="icon-trash"></span>
                  </button>
                </td>
              </tr>

            </tbody>

          </table>

          <!-- si no hay carteras muestra esto -->
          <div *ngIf="(carteras).length === 0 && !loading"
          class="alert alert-info" role="alert">
              <strong>No hay </strong> carteras que mostrar
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li *ngIf="currentPage > 1 " class="page-item" >
                <a class="page-link" (click)="nuevaPagina(currentPage-1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let i of cantidadPagina" >
                <a class="page-link" (click)="nuevaPagina(i+1)" >{{ i+1 }}</a>
              </li>

              <li *ngIf="currentPage!=totalPaginas" class="page-item" routerLinkActive="active">
                <a class="page-link" (click)="nuevaPagina(currentPage+1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>


        </nav>
        </div>
        <br>

    </div>

</div>
<!-- aqui acaba el container fluid -->
