<div class="container-fluid">
  <div class="row ">
        <h1><span class="icon-archive"></span> Carteras</h1>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Año</th>
                <th scope="col">Trimestre</th>
                <th scope="col">Fecha Creación</th>
                <th scope="col">Fecha Actualizacion</th>
                <th class="text-right">Opciones</th>
              </tr>
            </thead>
            <tbody>
               <!-- el pipe keys es para pasar un objeto a un array -->
              <tr *ngFor="let cartera of  carterasActuales  ; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ cartera.identificador }}</td>
                <td>{{ cartera.nombreCartera }}</td>
                <td>{{ cartera.year }}</td>
                <td>{{ cartera.trimestre }}</td>
                <td>{{ cartera.fechaCreacion }}</td>
                <td>{{ cartera.fechaActualizacion }}</td>
                <td class="text-center w20">
                  <button  [routerLink]="['/cartera', cartera.identificador]"
                  type="button" class="btn btn-outline-success">
                    <span class="icon-pencil"></span>
                  </button>
                  <button  (click)="borrarUsuario(usuario.identificador)"
                  type="button" class="btn btn-outline-danger">
                    <span class="icon-trash"></span>
                  </button>
                </td>
              </tr>

            </tbody>

          </table>

          <!-- si no hay carteras muestra esto -->
          <div *ngIf="(carteras).length === 0 && !loading"
          class="alert alert-info" role="alert">
              <strong>No hay </strong> carteras que mostrar
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li *ngIf="currentPage > 1 " class="page-item" >
                <a class="page-link" (click)="nuevaPagina(currentPage-1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let i of cantidadPagina" >
                <a class="page-link" (click)="nuevaPagina(i+1)" >{{ i+1 }}</a>
              </li>

              <li *ngIf="currentPage!=totalPaginas" class="page-item" routerLinkActive="active">
                <a class="page-link" (click)="nuevaPagina(currentPage+1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>


        </nav>
        </div>
        <br>

    </div>

</div>
<!-- aqui acaba el container fluid -->
