<div class="container-fluid divContenedorTabla">
  <div class="row">
    <div class="example-header">
      <h1 class="mat-display-1 tituloComponentes"><span class="icon-town-hall"></span> Cartera {{cartera.nombreCartera}} </h1>
      <div class="elementosCabecera">
        <button *ngIf="_authService.tienePermiso(5)" mat-raised-button class="botonMat botonNuevoItem" type="submit" color="primary"
          (click)="editarAnyadirItem(null)">Nuevo Evento</button>

        <div class="divPaginacion">
          <mat-form-field class="elementosPaginacion">
            <input matInput (keyup)="realizarBusqueda($event)" placeholder="Búsqueda" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)='value=""'>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <!-- <p>Elementos por página</p> -->
          <div class="elementosPaginacion">
            <mat-form-field class="selectNumPgns">
              <mat-select [(value)]="option_Items_Pgn" placeholder="Elementos por página" (change)="actualizarPaginacion()">
                <mat-option value="5">5</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="15">15</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="30">30</mat-option>
                <mat-option value="40">40</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="75">75</mat-option>
                <mat-option value="100">100</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="elementosPaginacion">
            <p>Pág. {{paginacion.current_page}} de {{paginacion.total_pages}}</p>
          </div>
          <div class="elementosPaginacion btnsPaginacion" #btnsPag>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(1)"><i class="material-icons">first_page</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(2)"><i class="material-icons">navigate_before</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(3)"><i class="material-icons">navigate_next</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(4)"><i class="material-icons">last_page</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <div class="example-container mat-elevation-z8">
        <mat-table class="tablaComponente" #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="identificador">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)"></mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.identificador}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nombreExpediente">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)">Nombre</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.nombreExpediente}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="CP">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(3)">CP</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.CP}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="calle">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(4)">Calle</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.calle}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(5)">Número</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.numero}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="telefono1">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(6)">Teléfono</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.telefono1}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="aforo">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(2)">Aforo</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.aforo}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['select','identificador','nombreExpediente','CP','calle','numero','telefono1','aforo']"></mat-header-row>
          <mat-row class="elementoTabla" *matRowDef="let row; columns: ['select','identificador','nombreExpediente','CP','calle','numero','telefono1','aforo']" (click)="editarAnyadirItem(row)"></mat-row>
        </mat-table>
        <button *ngIf="_authService.tienePermiso(8)" mat-raised-button type="submit" class="botonMat botonEliminarItems" [disabled]="btnEliminar" color="warn" (click)="botonEliminarItem(selection.selected)">Eliminar eventos</button>
      </div>
    </div>
  </div>
</div>




























<!--
<br><br><br><br><br>
<div class="container-fluid">
      <div style="width:100%">
        <h1 style="margin:auto;"><span class="icon-folder-open"></span> Cartera
          <small>{{cartera.nombreCartera}}</small>
          <button *ngIf="this.cartera.estado<5 && !permisoEditar" (click)="puedeEditar()"
          type="button" class="btn btn-outline-success">
            <span class="icon-pencil"></span>Editar
          </button>
        </h1>
      </div>

        <div class="container" *ngIf="errorCartera === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
                <h1 class="text-center">¡Ups! <p> </p>
                  <p><small class="text-center"> Ha habido un error creando una cartera.</small></p></h1>
                  <p class="text-center text-danger" *ngFor="let mensaje of errorMensaje">
                        {{mensaje}}
                </p>
            </div>
        </div>
        <div class="container" *ngIf="errorCarteraActualizar === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
                <h1 class="text-center">¡Ups! <p> </p>
                  <p><small class="text-center"> Ha habido un error actualizando una cartera.</small></p></h1>
                  <p class="text-center text-danger" *ngFor="let mensaje of errorMensaje">
                        {{mensaje}}
                </p>
            </div>
        </div>
        <div class="container" *ngIf="rgstrCartera === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-smile-o" style="color:#28a745;"></i></div>
                <h1 class="text-center">¡Cartera creada! <p> </p>
                  <p><small class="text-center text-success"> Se ha enviado un email de confirmación a {{cartera.correo}}.</small></p></h1>

            </div>
        </div>
        <form (ngSubmit)="guardar()" #forma="ngForm">


          <div class="row">


            <div *ngIf="!permisoEditar" class="form-group col-sm-3">
              <label>Nombre</label>
              <input [(ngModel)]="cartera.nombreCartera"
                name="nombreCartera"
                class="form-control"
                placeholder="Nombre de la Cartera"
                readonly
                type="text">
            </div>
            <div *ngIf="!permisoEditar" class="form-group col-sm-3">
              <label>Año</label>
              <input [(ngModel)]="cartera.year"
                name="año"
                class="form-control"
                placeholder="Año de la Cartera"
                readonly
                type="text">
            </div>
            <div *ngIf="!permisoEditar" class="form-group col-sm-3">
              <label>Trimestre</label>
              <input [(ngModel)]="cartera.trimestre"
                name="trimestre"
                class="form-control"
                placeholder="Trimestre de la cartera"
                readonly
                type="text">
            </div>
            <div *ngIf="!permisoEditar" class="form-group col-sm-3">
              <label>Estado</label>
              <select readonly class="form-control" name=cartera_estado [(ngModel)]="cartera.estado">
                <option [ngValue]=i *ngFor="let e of estados, let i = index">{{e}}</option>
              </select>
            </div>


            <div *ngIf="permisoEditar" class="form-group col-sm-3">
              <label>Nombre</label>
              <input [(ngModel)]="cartera.nombreCartera"
                name="nombreCartera"
                class="form-control"
                placeholder="Nombre de la Cartera"
                required
                type="text">
            </div>
            <div *ngIf="permisoEditar" class="form-group col-sm-3">
              <label>Año</label>
              <input [(ngModel)]="cartera.year"
                name="año"
                class="form-control"
                placeholder="Año de la Cartera"
                required
                type="text">
            </div>
            <div *ngIf="permisoEditar" class="form-group col-sm-3">
              <label>Trimestre</label>
              <input [(ngModel)]="cartera.trimestre"
                name="trimestre"
                class="form-control"
                placeholder="Trimestre de la cartera"
                required
                type="text">
            </div>
            <div *ngIf="permisoEditar" class="form-group col-sm-3">
              <label>Estado</label>
              <select class="form-control" name=cartera_estado [(ngModel)]="cartera.estado">
                <option [ngValue]=i *ngFor="let e of estados, let i = index">{{e}}</option>
              </select>
            </div>
        </div>


          <div class="form-group">
            <button *ngIf="permisoEditar"
            [disabled]="!forma.valid"
               type="submit" class="btn btn-outline-primary">
              Guardar cambios
            </button>
            <button *ngIf="permisoEditar"
              [routerLink]="['/carteras']"
               class="btn btn-outline-danger">
              Cancelar
            </button>
            <button *ngIf="!permisoEditar"
              [routerLink]="['/carteras']"
               class="btn btn-outline-danger">
              Atras
            </button>
          </div>
        </form>
        <br>




        <div *ngIf="formExVisible">
          <form (ngSubmit)="crearNuevoExp()" #forma="ngForm">
            <div class="row">
              <div class="col-sm-3">
                <label>Nombre del expediente</label>
                <input [(ngModel)]="expN.nombreExpediente" name=Exp_nomb class="form-control" required type="text">
              </div>
              <div class="col-sm-3">
                <label>Título</label>
                <input [(ngModel)]="expN.titulo" name=Exp_tit class="form-control" type="text">
              </div>
              <div class="col-sm-3">
                <label>Coordinador</label>
                <select class="form-control" name=Exp_user [(ngModel)]="expN.coordinador">
                  <option [ngValue]="u.identificador" *ngFor="let u of users">{{u.nombreUsuario}}</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label>Fecha inicio</label>
                <input [(ngModel)]="expN.fechaInicio" name=Exp_fechaIn class="form-control" type="date">
              </div>
              <div class="col-sm-3">
                <label>Fecha final</label>
                <input [(ngModel)]="expN.fechaFin" name=Exp_fechaFin class="form-control" type="date">
              </div>
              <div class="col-sm-3">
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                  Crear
                </button>
              </div>
            </div>
          </form>
          <br>
        </div>





        <div class="row ">
            <div  class="table-responsive">
              <div class="example-container mat-elevation-z8">
                <div class="example-header">
                  <h1 style="margin-left:30px; padding-top:30px; margin-bottom:10px;" class="mat-display-1">Eventos</h1>




                  <button style="margin-left:30px;"  mat-raised-button
                      class="botonMat"
                      type="submit"
                      color="primary"
                      (click)="openDialogCrear()"
              *ngIf="!formExVisible && cartera.estado <3 "
                    > Nuevo Evento
                    </button>
                    <button style="margin-left:30px;"  mat-raised-button
                      class="botonMat"
                      type="submit"
                      color="warn"
                     (click)="mostrarFormExp(false)"
                    *ngIf="formExVisible"
                    > Cancelar
                    </button>


                    <mat-form-field style="margin-left:30px;">
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>

                    <mat-paginator style="width:auto; margin-right:30px;" #paginator
                          [pageSize]="10"
                          [pageSizeOptions]="[5, 10, 20, 50, 100]"
                          [showFirstLastButtons]="true">
                     </mat-paginator>

                </div>


                <mat-table style="margin-left:30px; margin-right:30px;" #table [dataSource]="dataSource" matSort>


                   <ng-container matColumnDef="eliminar">
                     <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                     <mat-cell   *matCellDef="let expediente">
                       <button (click)="openDialogEliminar(expediente)"  class="botonMat" mat-icon-button color="warn">
                           <mat-icon color="warn" >delete</mat-icon>
                      </button>

                     </mat-cell>
                   </ng-container>

                  <ng-container matColumnDef="identificador">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Identificador</mat-header-cell>
                    <mat-cell  (click)="editar(expediente)" *matCellDef="let expediente"> {{expediente.identificador}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="nombreExpediente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
                    <mat-cell  (click)="editar(expediente)" *matCellDef="let expediente"> {{expediente.nombreExpediente}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="titulo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
                    <mat-cell  (click)="editar(expediente)" *matCellDef="let expediente"> {{expediente.titulo}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="coordinador">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Coordinador </mat-header-cell>
                    <mat-cell  (click)="editar(expediente)" *matCellDef="let expediente"> {{expediente.coordinador}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fechaInicio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> fecha de Inicio </mat-header-cell>
                    <mat-cell  (click)="editar(expediente)" *matCellDef="let expediente"> {{expediente.fechaInicio}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fechaFin">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> fecha de Fin </mat-header-cell>
                    <mat-cell  (click)="editar(expediente)" *matCellDef="let expediente"> {{expediente.fechaFin}} </mat-cell>
                  </ng-container>



                  <mat-header-row *matHeaderRowDef="['identificador', 'nombreExpediente', 'titulo', 'coordinador','fechaInicio', 'fechaFin']"></mat-header-row>
                  <mat-row class="elementoTabla" *matRowDef="let row; columns: ['identificador', 'nombreExpediente', 'titulo', 'coordinador','fechaInicio', 'fechaFin']" ></mat-row>
                </mat-table>
      <br><br><br>
              </div>
            </div>

      </div> -->
