<div class="container-fluid divContenedorTabla">
  <form (ngSubmit)="editarCartera()" #formulario="ngForm">
    <div class="row">
      <div class="example-header cabeceraExpCar">
        <h1 class="mat-display-1 tituloComponentes titCarteras"><i class="icon-archive-1"></i> Cartera: {{cartera.nombreCartera}} </h1>
        <div class="btnExpCar" *ngIf="_authService.tienePermiso(22) && carteraSinModif.estado!=3">
          <div class="btnsEditarAnyadir">
            <div *ngIf="bloqCampos" class="btnsEditarAnyadir">
              <button type="button" mat-raised-button color="primary" (click)="disable_enable_campos()">Editar</button>
            </div>
            <div *ngIf="!bloqCampos" class="btnsEditarAnyadir">
              <button type="submit" color="primary" mat-raised-button [disabled]="formulario.form.invalid || realizandoAccion || !formulario.form.dirty">Guardar cambios</button>
              <button type="button" mat-raised-button (click)="disable_enable_campos()" color="warn" [disabled]="realizandoAccion">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row carteraFormEditar">
      <mat-form-field class="carteraNombre">
        <input matInput name="nombreCartera" [(ngModel)]="cartera.nombreCartera" placeholder="Nombre" [readonly]="bloqCampos"
               maxLength="200" required>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="carteraPeriodo">
        <input matInput name="trimestre" [(ngModel)]="cartera.trimestre" placeholder="Periodo" [readonly]="bloqCampos"
               maxLength="100">
      </mat-form-field>

      <mat-form-field class="carteraAnyo">
        <input matInput name="year" [(ngModel)]="cartera.year" placeholder="Año" [readonly]="bloqCampos"
               pattern="[0-9]{4}" maxLength="4">
        <mat-error>Han de ser cuatro números</mat-error>
      </mat-form-field>

      <mat-form-field class="carteraFecha">
        <mat-select placeholder="Estado" name="estado" [(ngModel)]="cartera.estado" [disabled]="bloqCampos || carteraSinModif.estado==3" >
          <mat-option [value]="1" *ngIf="carteraSinModif.estado==1">Sin aprobar</mat-option>
          <mat-option [value]="2">Aprobada</mat-option>
          <mat-option [value]="3" *ngIf="carteraSinModif.estado!=1">Finalizada</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="carteraFecha">
        <input matInput name="fechaCreacion" [(ngModel)]="fechaCreacion" placeholder="Fecha creación" readonly>
      </mat-form-field>
    </div>

    <!-- <div class="row">
      <div class="descripcionCarteraForm">
        <mat-form-field hintLabel="" class="campoWidth100">
          <textarea matInput name="descripcion" [(ngModel)]="items.descripcion" placeholder="Descripción" [readonly]="bloqCampos"
                    maxLength="500"></textarea>
        </mat-form-field>
      </div>
    </div> -->
  </form>

  <div class="row">
    <div class="example-header">
      <div class="elementosCabecera">

        <button *ngIf="_authService.tienePermiso(25) && carteraSinModif.estado==1" mat-raised-button class="botonMat botonNuevoItem" type="submit" color="primary"
          (click)="nuevoEvento()">Nuevo Evento</button>
        <button *ngIf="_authService.tienePermiso(28) && carteraSinModif.estado==1" mat-raised-button type="button" class="botonEliminarItems" [disabled]="btnEliminar" color="warn" (click)="botonEliminarItem(selection.selected)"><i class="material-icons">delete</i></button>

        <div class="divPaginacion">
          <mat-form-field class="elementosPaginacion">
            <input matInput (keyup)="realizarBusqueda($event)" placeholder="Búsqueda" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)='value=""'>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div class="elementosPaginacion">
            <mat-form-field class="selectNumPgns">
              <mat-select [(value)]="option_Items_Pgn" placeholder="Elementos por página" (change)="actualizarPaginacion()">
                <mat-option value="5">5</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="15">15</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="30">30</mat-option>
                <mat-option value="40">40</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="75">75</mat-option>
                <mat-option value="100">100</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="elementosPaginacion">
            <p>Pág. {{paginacion.current_page}} de {{paginacion.total_pages}}</p>
          </div>
          <div class="elementosPaginacion btnsPaginacion" #btnsPag>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(1)"><i class="material-icons">first_page</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(2)"><i class="material-icons">navigate_before</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(3)"><i class="material-icons">navigate_next</i></a>
            <a class="btnsPaginacionOff" (click)="cambiarPgn(4)"><i class="material-icons">last_page</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <div class="example-container mat-elevation-z8">
        <mat-table class="tablaComponente" #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            (change)="activarDesBtnEliminar(selection.selected)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="identificador">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)"></mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.identificador}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="nombreExpediente">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(1)">Nombre</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.nombreExpediente}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="titulo">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(3)">Título</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.titulo}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="coordinador">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(4)">Coordinador</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.coordinador}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fechaInicio">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(5)">Fecha inicio</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.fechaInicio | date:'dd/MM/yyyy'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fechaFin">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(6)">Fecha fin</mat-header-cell>
            <mat-cell *matCellDef="let items">{{items.fechaFin | date:'dd/MM/yyyy'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="avance">
            <mat-header-cell *matHeaderCellDef mat-sort-header (click)="cambiarOrden(6)">Avance</mat-header-cell>
            <mat-cell *matCellDef="let items; let i = index"  [matTooltipClass]="'tooltipSalto'" matTooltip='Tareas terminadas: {{avances[i].tareasTerminadas}} de {{avances[i].tareasPropuestas}}&#13;Contratos terminados: {{avances[i].contratosTerminados}} de {{avances[i].contratosPropuestos}}'>
              <div class="spinnerAvanceFondo">
                <mat-progress-spinner  [value]="100" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
              </div>
              <div class="spinnerAvance">
                <mat-progress-spinner [value]="avances[i].porcentajeAvanzado" [diameter]="30" [strokeWidth]="6" [color]="avances[i].colorSpinner"></mat-progress-spinner>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['select','identificador','nombreExpediente','titulo','coordinador','fechaInicio','fechaFin','avance']"></mat-header-row>
          <mat-row class="elementoTabla" *matRowDef="let row; columns: ['select','identificador','nombreExpediente','titulo','coordinador','fechaInicio','fechaFin','avance']" (click)="abrirExpediente(row)"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
