
<div class="container-fluid">


        <h1><span class="icon-folder-open"></span> Cartera <small>{{cartera.nombreCartera}}</small></h1>
        <!-- mensajes -->
        <div class="container" *ngIf="errorCartera === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
                <h1 class="text-center">¡Ups! <p> </p>
                  <p><small class="text-center"> Ha habido un error creando una cartera.</small></p></h1>
                  <p class="text-center text-danger" *ngFor="let mensaje of errorMensaje">
                        {{mensaje}}
                </p>
            </div>
        </div>
        <div class="container" *ngIf="errorCarteraActualizar === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
                <h1 class="text-center">¡Ups! <p> </p>
                  <p><small class="text-center"> Ha habido un error actualizando una cartera.</small></p></h1>
                  <p class="text-center text-danger" *ngFor="let mensaje of errorMensaje">
                        {{mensaje}}
                </p>
            </div>
        </div>

        <div class="container" *ngIf="rgstrCartera === true">
            <div class="jumbotron">
                <div class="text-center"><i class="fa fa-5x fa-smile-o" style="color:#28a745;"></i></div>
                <h1 class="text-center">¡Cartera creada! <p> </p>
                  <p><small class="text-center text-success"> Se ha enviado un email de confirmación a {{cartera.correo}}.</small></p></h1>

            </div>
        </div>
        <!-- fin mensajes -->

        <form (ngSubmit)="guardar()" #forma="ngForm">
          <div class="form-group">
            <label>Nombre</label>
            <input [(ngModel)]="cartera.nombreCartera"
              name="nombreCartera"
              class="form-control"
              placeholder="Nombre de la Cartera"
              required
              type="text">
          </div>
          <div class="form-group">
            <label>Año</label>
            <input [(ngModel)]="cartera.year"
              name="año"
              class="form-control"
              placeholder="Año de la Cartera"
              required
              type="text">
          </div>
          <div class="form-group">
            <label>Trimestre</label>
            <input [(ngModel)]="cartera.trimestre"
              name="trimestre"
              class="form-control"
              placeholder="Trimestre de la cartera"
              required
              type="text">
          </div>

          <div class="form-group">
            <button [disabled]="!forma.valid"
               type="submit" class="btn btn-outline-primary">
              Guardar cambios
            </button>

          </div>

        </form>
        <br>
         <div class="row  ">
              <h1><span class="icon-doc"></span> Eventos de {{cartera.nombreCartera}} </h1>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Id</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Año</th>
                      <th scope="col">Trimestre</th>
                      <th scope="col">Fecha Creación</th>
                      <th scope="col">Fecha Actualizacion</th>
                      <th class="text-right">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let cartera of  carterasActuales  ; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ cartera.identificador }}</td>
                      <td>{{ cartera.nombreCartera }}</td>
                      <td>{{ cartera.year }}</td>
                      <td>{{ cartera.trimestre }}</td>
                      <td>{{ cartera.fechaCreacion }}</td>
                      <td>{{ cartera.fechaActualizacion }}</td>
                      <td class="text-center w20">
                        <button  [routerLink]="['/cartera', cartera.identificador]"
                        type="button" class="btn btn-outline-success">
                          <span class="icon-pencil"></span>
                        </button>
                        <button  (click)="borrarCartera(cartera.identificador)"
                        type="button" class="btn btn-outline-danger">
                          <span class="icon-trash"></span>
                        </button>
                      </td>
                    </tr>

                  </tbody>

                </table>


                <div *ngIf="(carteras).length === 0 && !loading"
                class="alert alert-info" role="alert">
                    <strong>No hay </strong> carteras que mostrar
                </div>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li *ngIf="currentPage > 1 " class="page-item" >
                      <a class="page-link" (click)="nuevaPagina(currentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item" *ngFor="let i of cantidadPagina" >
                      <a class="page-link" (click)="nuevaPagina(i+1)" >{{ i+1 }}</a>
                    </li>

                    <li *ngIf="currentPage!=totalPaginas" class="page-item" routerLinkActive="active">
                      <a class="page-link" (click)="nuevaPagina(currentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>


              </nav>
              </div>




</div>

<!-- aqui acaba el container fluid -->
