<h1 class="mat-display-1 tituloComponentes"><span class="icon-town-hall"></span> Eliminar carteras</h1>
<h1 class="VentanaEmergenteEliminarPregunta" mat-dialog-title>¿Estás seguro de que deseas eliminar las siguientes filas?</h1>
<p class="VentanaEmergenteEliminarInfo">Una vez hecho no podrás recuperarlas.</p>
<mat-table class="tablaComponenteVEEliminar" #table [dataSource]="dataSource">

  <ng-container matColumnDef="nombreCartera">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.nombreCartera}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="trimestre">
    <mat-header-cell *matHeaderCellDef>Periodo</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.trimestre}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef>Año</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.year}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="fechaCreacion">
    <mat-header-cell *matHeaderCellDef>Fecha creación</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.fechaCreacion | date}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
    <mat-cell *matCellDef="let items">{{items.estado}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['nombreCartera','trimestre','year','fechaCreacion','estado']"></mat-header-row>
  <mat-row class="elementoTabla" *matRowDef="let row; columns: ['nombreCartera','trimestre','year','fechaCreacion','estado']" (click)="editarAnyadirItem(row)"></mat-row>
</mat-table>
<mat-dialog-actions class="VentanaEmergenteEliminarBtns" *ngIf="!eliminando;">
    <button mat-raised-button (click)="eliminarItem()" color="warn">Eliminar</button>
    <a mat-raised-button (click)="cerrarDialogo()" color="primary">Cancelar</a>
</mat-dialog-actions>
<div class="VentanaEmergenteSpinner1">
  <div class="VentanaEmergenteSpinner2" *ngIf="eliminando">
      <mat-spinner color="warn"></mat-spinner>
  </div>
</div>
