<div class="contenedorEditar">
  <h1 class="mat-display-1 tituloFormEstrecho"><span class="icon-folder-add"></span> {{titulo}}: {{items.nombreCartera}}</h1>
  <a class="btnCerrar" (click)="cerrarDialogo()"><i class="material-icons iconoCerrar">close</i></a>
  <form (ngSubmit)="anyadirItem()" #formulario="ngForm">
    <div class="row contenedorFormEstrecho">

      <mat-form-field hintLabel="" class="campoWidth100">
        <input matInput name="nombreCartera" [(ngModel)]="items.nombreCartera" placeholder="Nombre"
               maxLength="200" required>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="" class="campoWidth100">
        <input matInput name="trimestre" [(ngModel)]="items.trimestre" placeholder="Periodo"
               maxLength="100" required>
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="" class="campoWidth100">
        <input matInput name="year" [(ngModel)]="items.year" placeholder="Año"
               pattern="[0-9]{4}" maxLength="4" required>
        <mat-error>Campo requerido. Han de ser cuatro números</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="" class="campoWidth100">
        <textarea matInput name="descripcion" [(ngModel)]="items.descripcion" placeholder="Descripción"
                  maxLength="500"></textarea>
      </mat-form-field>

    </div>
    <div class="row" *ngIf="!realizandoAccion">
      <div class="btnsEditarAnyadir">
        <div *ngIf="_authService.tienePermiso(21)" class="btnsEditarAnyadir">
          <mat-dialog-actions class="btnsEditarAnyadir">
            <button type="submit" color="primary" mat-raised-button [disabled]="formulario.form.invalid">Crear</button>
            <button type="button" mat-raised-button (click)="limpiarCampos()" color="warn">Limpiar campos</button>
          </mat-dialog-actions>
        </div>
      </div>
    </div>
    <div class="VentanaEmergenteSpinner1">
      <div class="VentanaEmergenteSpinner2" *ngIf="realizandoAccion">
          <mat-spinner color="warn"></mat-spinner>
      </div>
    </div>
  </form>
</div>
