
/* -------------MENU LATERAL-------------*/
.lateral{
  position: fixed;z-index: 3em !important;
  bottom: 0;
  top: 0;
}
.lista-menu{
  display: block;
  list-style: none;
  margin-left: 0.2em;
  padding-left: 0.2em;
}


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.botonMat:focus{
  outline: none;
}

.main-container{
  margin-top: 40px;
  margin-bottom: 40px;
}
.elementoTabla:hover{
  cursor: pointer;
  background-color: #e6e6e6;
}
.noAnim:active {
style: none;
}
.d9d9d9{
  color: #D9D9D9;
}
.d9d9d9-imp{
  color: #D9D9D9!important;
}
.mat-table {
  overflow: auto;

}

.mat-column-select {
  overflow: visible;
}
/* .elemento-navbar{
color: ;
} */
.white{

}
.nomargin{
  margin-bottom:  0rem !important;
}
.elemento-navbar:hover {
    background-color: #042649;
    color:#D9D9D9;
}
.fondo-gris{
  background: rgba(100, 100, 100, 0.6);
}
.bg-a8a8a8{
  background-color: #a8a8a8;
}
.width-60{
  width: 60px !important;
}
.bg-blue{
  background-color: #05386B !important;
}
.bg-blue-no-imp{
  background-color: #05386B;
}
.small-margin-laterals{
  margin-left:2px;
  margin-right:2px;
}
.puntero{
  cursor: pointer;
}
.shadow{
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: fixed!important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.loginClass{
  position: fixed!important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 200px;
  max-width: 100%!important;
  height: 100%!important;
}
.w120{
  width: 120px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
