.carteras2{
  color: rgb(45, 255, 173) !important;
}
.carteras1{
  color: yellow !important;
}

.eventosycarteras{
  width: 12.5em !important;
}
.usuarioyrol{
  width: 11.65em !important;
}
.rolypermiso{
  width: 11.82em !important;
}

.btn.focus{
  box-shadow: none !important;
}

button{
  box-shadow: 1px !important;
  border-radius: 1px !important;
}

.dropdown-toggle:focus{
  box-shadow: 0px 2px 0px 0px #042649 !important;
}





.main-container{
  margin-top: 40px;
  margin-bottom: 40px;
}
.d9d9d9{
  color: #D9D9D9;
}
.d9d9d9-imp{
  color: #D9D9D9!important;
}
/* .elemento-navbar{
color: ;
} */
.white{

}
.nomargin{
  margin-bottom:  0rem !important;
}
.elemento-navbar:hover {
    background-color: #042649;
    color:#D9D9D9;
}
.fondo-gris{
  background: rgba(100, 100, 100, 0.6);
}
.bg-a8a8a8{
  background-color: #a8a8a8;
}

.bg-blue{
  background-color: #05386B !important;
}
.bg-blue-no-imp{
  background-color: #05386B;
}
.small-margin-laterals{
  margin-left:2px;
  margin-right:2px;
}
.puntero{
  cursor: pointer;
}

.w120{
  width: 120px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
