<h1 *ngIf="eliminando==false;" mat-dialog-title style="text-align:center">¿Estas seguro que deseas eliminarlo?</h1>
<p *ngIf="eliminando==false;" style="text-align:center; margin-bottom:0px;">Una vez lo elimines no podras recuperarlo de nuevo. Piensalo bien.</p>


  <mat-dialog-actions *ngIf="eliminando==false;" style="display:block; text-align:center;">
      <button  mat-raised-button (click)="borrarEvento()" color="warn">Eliminar</button>
      <button  mat-raised-button (click)="cancelar()"color="primary">Cancelar</button>
  </mat-dialog-actions>





  <h1 *ngIf="eliminando==true;" mat-dialog-title style="text-align:center">Eliminando</h1>

  <div *ngIf="eliminando==true;" style="margin-left:150px;">
      <mat-spinner color="warn"></mat-spinner>
  </div>
  <!-- <mat-dialog-actions style="display:block; text-align:center;" *ngIf="eliminando==true;">

      <mat-spinner color="warn"></mat-spinner>
  </mat-dialog-actions> -->
