
<!-- <footer class="page-footer center-on-small-only"> -->
  <!-- <div class="text-center mb-3">
    <button style="background-color:#333333"  onclick="location.href='https://gvent.ovh/wordpress/'" mat-mini-fab ><i class="fa fa-wordpress"></i></button>&nbsp;
    <button style="background-color:#3b5998"  onclick="location.href='https://www.facebook.com/gventapp/'" mat-mini-fab><i class="fa fa-facebook"></i></button>&nbsp;
  </div> -->
<!-- </footer> -->
<mat-toolbar class="piePgn">
  <span class="example-spacer"></span>
  <span > Gvent © 2018 </span>
  <span class="example-spacer"></span>
</mat-toolbar>
