.margen{
  margin-top: 15px;
}
mat-toolbar{
  background-color: #05386B;
  color: #D9D9D9;
}
mat-toolbar a{
  color: #FFFFFF;
}

mat-toolbar div a{
  margin: 0px 0px 0px 5px;
}

mat-toolbar a:hover{
  text-decoration: none;
}
.links1{
  font-size: .8em;
}
