footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
/* background-color: #06407a; */
  background-color: #074d92;
  /* background-color: #262626; */
  color: #D9D9D9;
  padding: 1em 0;
  text-align: center;
}

footer a{
  color: #D9D9D9;
}

footer a:hover{
  text-decoration: none;
}

footer i{
  margin: 0px 5px 0px 5px;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: #05386B;
    color: #D9D9D9;
}
mat-toolbar a{
  color: #FFFFFF;
}

mat-toolbar div a{
  margin: 0px 0px 0px 5px;
}

mat-toolbar a:hover{
  text-decoration: none;
}
